	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Nabi Hud (as.)</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: <i>Syaamil Al-Qur'an The Miracle</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Uraian Kisah Nabi Hud (as.) dalam Al-Qur'an</b></font>

	<p align="justify" style="font-family:constantia;">
	&emsp; Nabi hud (as.) diutus kepada kaum 'Ad. Kaum yang kuat lagi berperawakan besar. Mereka tinggal di padang pasir yang dikenal dengan <i>Al-Ahqaf</i>. Dia mengajak kaumnya agar kembali kepada ajaran yang benar dan menyembah Allah semata. <i>"Wahai kaumku, sembahlah Allah, yang tiada tuhan lain bagi kalian selain-Nya"</i>. (QS. Hu, 11: 50)</br>
	
	&emsp; Mereka menjawab, <i>"Apakah engkau ingin menjadi pemimpin bagi kami melalui dakwahmu ini? imbalan apa yang engkau inginkan?"</i>, Nabi Hud menyeru mereka tidak berharap imbalan kecuali hanya dari Allah SWT semata. Agar mereka meninggalkan berhala-berhala yang disembah nenek moyang mereka.</br>
	
	&emsp; Mereka berkata, <i>"Bagaimana engkau menuduh tuhan-tuhan kami yang kami mendapati ayah-ayah kami menyembahnya?"</i>, Nabi Hud (as.) menjawab, <i>"Sungguh orang tua kalian telah berbuat kesalahan."</i>, Kaum Nabi Hud berkata, <i>"Apakah engkau akan mengatakan bahwa setelah kami mati dan menjadi tanah yang beterbangan di udara, kita akan kembali hidup?"</i>, Nabi Hud (as.) menjawab, <i>"Kalian akan kembali pada hari kiamat dan Allah SWT akan bertanya kepada masing-masing dari kalian tentang apa yang kalian lakukan."</i>.</br>
	
	&emsp; Mendengar jawaban itu, mereka menertawakan Nabi Hud (as.) dan menghinanya. "Dan berkatalah pemuka-pemuka yang kafir di antara kaumnya dan yang mendustakan pertemuan dengan hari kiamat (kelak) dan yang telah Kami mewahkan mereka dalam kehidupan dunia, <i>'Orang ini tidak lain hanyalah manusia seperti kamu. Dia makan dari apa yang kamu makan dan meminum dari apa yang kamu minum. Dan sesungguhnya jika kamu sekalian menaati manusia yang seperti kamu, niscaya bila demikian itu, kamu benar-benar menjadi orang-orang yang merugi. Apakah dia menjanjikan kepada kamu sekalian, bahwa bila kamu telah mati dan telah menjadi tanah dan tulang belulang, kamu sesungguhnya akan dikeluarkan (dari kuburmu)? Jauh, jauh sekali (dari kebenaran) apa yang diancamkan kepadamu itu, kehidupan tidak lain hanyalah kehidupan kita di dunia ini, kita mati dan hidup dan sekali-kali tidak akan dibangkitkan lagi.'</i>". (QS. Al-Mu'minun, 23: 33-37)</br>
	
	&emsp; Dakwah Nabi Hud (as.) selalu mendapat tantangan dan penolakan. Mereka semakin sombong dan membangkang. Bahkan, menuduh Nabi Hud (as.) sebagai seorang idiot dan gila. "Kaum 'Ad berkata, <i>'Hai Hud, kamu tidak mendatangkan kepada kami sesuatu bukti yang nyata, dan kami sekali-kali tidak akan meninggalkan sembahan-sembahan kami karena perkataanmu, dan kami sekali-kali tidak akan mempercayai kamu. Kami tidak mengatakan melainkan bahwa sebagian sembahan kami telah menimpakan penyakit gila atas dirimu.'</i>". (QS. Hud, 11: 53-54)</br>
	
	&emsp; Akan tetapi Nabi Hud (as.) dengan sabar dan tabah dalam menghadapi kaumnya, Nabi Hud (as.) pasrah kepada Allah SWT.</br>
	
	&emsp; Maka, datanglah peringatan Allah kepada kaum Hud, Nabi Hud (as.) berharap dengan peringatan itu kaumnya mau kembali kepada jalan yang benar. Kaum Nabi Hud (as.) segera menuju kepadanya, <i>"Mengapa terjadi kekeringan ini wahai Hud?"</i>, Nabi Hud (as.) berkata, <i>"Sesungguhnya Allah SWT murka kepada kalian. Jika kalian beriman, maka Allah SWT akan rela terhadap kalian dan menurunkan hujan serta menambah kekuatan kalian."</i></br>
	
	&emsp; Namun, kaum Nabi Hud (as.) justru mengejeknya dan mendustakannya, maka masa kekeringan semakin meningkat dan mengeringkan pohon-pohon yang hijau dan matilah tanaman-tanaman.</br>
	
	&emsp; Lalu, tiba ketetapan Allah SWT. Awan besar yang menyelimuti langit. Mereka mengira akan turun hujan yang akan mengakhiri kekeringan. Namun, cuaca berubah sangat dingin. Angin bertiup sangat kencang. Semua benda bergoyang. Malam dan siang hari, angin semakin kencang, cuaca semakin dahsyat, menghancurkan persembunyian mereka dan membunuh apa saja yang di depannya. Bertiup selama tujuh malam delapan hari dengan mengancam kehidupan dunia. Kemudian angin berhenti dengan izin Allah (QS. Al-Ahqaf, 46: 24-25), "Yang Allah menimpakan angin itu kepada mereka selama tujuh malam dan delapan hari terus-menerus, maka kamu lihat kaum 'Ad pada waktu itu mati bergelimpangan seakan-akan mereka tunggul-tunggul pohon kurma yang telah kosong (lapuk).". (QS. Al-Haqqah, 69: 7)</br>

	&emsp; Maka binasalah kaum 'Ad bagaikan pohon-pohon kurma yang lapuk. Sementera itu, Nabi Hud (as.) dan orang-orang yang beriman selamat atas kehendak Allah SWT.</br>
	
	</p>

	<font color="#CD853F" style="font-family:constantia;"><b>Peta Nabi Hud (as.)</b></font>
	
	<p align="justify" style="font-family:constantia;">

	&emsp; Hud (as.) hidup dan berkembang di selatan Jazirah Arab. Beliau hidup pada masa Raja 'Ad bin 'Aush bin Sam bin Nuh yang verkuasa di negeri Ahqaf (disebut demikian karena mereka menghuni gua-gua), diapit sebelah utara oleh Hadramaut dan di sebelah timurnya Oman.</br>
	
	&emsp; Hud (as.), menurut Ibnu Abbas (ra), adalah orang yang pertama kali berbicara dengan bahasa Arab. Dia menikahi Mitsa (dalam riwayat lain disebut 'Urwah) binti Shifn dan memiliki tiga anak, yaitu Faligh, Qahtan, dan Milkan.</br>
	
	&emsp; Kemudian, Allah mengangkatnya menjadi nabi saat berusia 40 tahun. Dakwah pun dimulai. Inti dari dakwah Nabi Hud (as.) adalah:</br>
	</p>
	
	<p align="left" style="font-family:constantia;">
	&emsp; 1. Menyeru beribadah hanya kepada Allah semata, Zat Maha Esa, dan tidak ada sekutu bagi Allah.</br>
	
	&emsp; 2. Mengajak kaumnya untuk segera memohon ampunan dan bertobat kepada Allah.</br>
	
	&emsp; 3. Tidak mengharapkan apa pun dengan dakwahnya</br>
	</p>
	
	<p align="justify" style="font-family:constantia;">
	&emsp; Penolakan muncul. Hud (as.) menjadi musuh bersama. Mereka menangkap Hud (as.), menyiksa, mencekik, dan menelantarkannya tidak ubahnya bangkai sepanjang siang dan malam. Namun, sikap antipati dan teror kaumnya tidak membuat Hud (as.) patah semangat. Dia kembali gigih berdakwah.</br>
	
	&emsp; Melihat apa yang diderita Hud (as.), Allah memerintahkan untuk memerangi kaumnya. Setelah itu, Allah menimpakan siksaan berupa kemarau berkepanjangan yang merusak binatang ternak, menanduskan tanah, dan mengeringkan pepohonan. Siksaan Allah tidak membuat hati kaum Hud luluh. Mereka malah beranggapan bahwa apa yang terjadi adalah bagian dari teror yang dilakukan Hud (as.). Mereka malah bersepakat mengirimkan utusan ke Mekah untuk memohon hujan seperti yang dilakukan nenek moyang musyirik mereka.</br>
	
	&emsp; Akhirnya, kaum Hud (as.) dibinasakan dengan siksaan berupa angin yang memusnahkan mereka yang enggan beriman.</br>
	</p>	

