	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Nabi Idris (as.)</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: <i>Syaamil Al-Qur'an The Miracle</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Uraian Kisah Nabi Idris (as.) dalam Al-Qur'an</b></font>
			
	<p align="justify" style="font-family:constantia;">
	&emsp; Nama aslinya adalah Akhnukh. Nama Idris memiliki arti <i>"sosok yang teguh pendirian dan memiliki pemikiran yang teruji"</i> <i>(hirmisal haramisah)</i>. Oleh karena itu, Idris dikenal sebagai orang yang pertama kali menciptakan ilmu hikmah dan ilmu nujum (perbintangan). Di antara ungkapan-ungkapan penuh hikmah yang dia ucapkan adalah:</br>
	</p>

	<p align="left" style="font-family:constantia;">
	&emsp; 1. <i>"Tidak seorang pun yang mampu mensyukuri nikmat Allah sebanding dengan nikmat-nikmat-Nya yang Dia karuniakan."</i>;</br>
	&emsp; 2. <i>"Jika berdoa kepada Allah, ikhlaskan niat."</i>;</br>
	&emsp; 3. <i>"Hidupnya jiwa adalah hikmah."</i>;</br>
	&emsp; 4. <i>"Jangan pernah iri dengan keberuntungan yang menjadi bagian orang lain karena mereka pun menikmati sedikit bagian saja."</i>;</br>
	&emsp; 5. <i>"Barang siapa yang melampaui batas cukup, tidak ada sesuatu pun yang dapat membuatnya puas."</i>.</br>
	</p>

	<p align="justify" style="font-family:constantia;">
	&emsp; Idris adalah salah seorang rasul yang pertama kali diberikan hak kenabian oleh Allah SWT setelah Adam (as.) sendiri dan Shiyth (as.).</br>
	
	&emsp; Nabi Idris (as.) adalah keturunan keenam dari Nabi Adam (as.), putra dari Yarid bin Mihla'iel bin Qinan bin Anusy bin Shiyth (as.) bin Adam (as.) yang menjadi keturunan pertama yang diutus menjadi nabi setelah Adam (as.) dan Shiyth (as.).</br>
	
	&emsp; Nabi Idris (as.) dianugerahi kepandaian dalam berbagai disiplin ilmu, kemahiran, serta kemampuan untuk menciptakan alat-alat untuk mempermudah pekerjaan manusia, seperti pengenalan tulisan, matematika, astronomi, dan sebagainya. Menurut suatu kisah, terdapat suatu masa di mana kebanyakan manusia akan melupakan Allah sehingga Allah menghukum manusia dengan bentuk kemarau yang berkepanjangan. Nabi Idris (as.) pun turun tangan dan memohon kepada Allah untuk mengakhiri hukuman tersebut. Allah mengabulkan permohonan itu dan berakhirlah musim kemarau tersebut dengan ditandai turunnya hujan.</br>
	
	&emsp; Menurut buku berjudul <i>The Prophet of God Enoch: Nabiyullah Idris</i>, Idris adalah sebutan atau nama Arab bagi <i>Enoch</i>, nenek moyang Nabi Nuh (as.). Dia dinyatakan di dalam Al-Qur'an sebagai manusia pilihan Allah sehingga Dia mengangkatnya ke langit.</br>
	
	&emsp; Berikut ini adalah beberapa nasihat dan untaian kata mutiara Nabi Idris (as.):</br>
	</p>
	<p align="left" style="font-family:constantia;">
	&emsp; 1. <i>"Kesabaran yang disertai iman kepada Allah (akan) membawa kemenangan."</i>;</br>
	&emsp; 2. <i>"Orang yang bahagia adalah orang yang waspada dan mengharapka syafaat dari Tuhannya dengan amal-amal salehnya."</i>;</br>
	&emsp; 3. <i>"Bila kamu memohon sesuatu kepada Allah dan berdoa, ikhlaskanlah niatmu. Demikan pula (untuk) puasa dan salatmu."</i>;</br>
	&emsp; 4. <i>"Janganlah bersumpah palsu dan janganlah menutup-nutupi sumpah palsu supaya kamu tidak ikut berdosa."</i>;</br>
	&emsp; 5. <i>"Taatlah kepada rajamu dan tunduklah kepada pembesarmu serta penuhilah selalu mulutmu dengan ucapan syukur dan puji kepada Allah."</i>;</br>
	&emsp; 6. <i>"Janganlah iri hati kepada orang-orang yang baik nasibnya karena mereka tidak akan banyak dan lama menikmati kebaikan nasibnya."</i>;</br>
	&emsp; 7. <i>"Barang siapa melampaui kesederhanaan, maka tidak sesuatu pun akan memuaskannya."</i>;</br>
	&emsp; 8. <i>"Tanpa membagi-bagikan nikmat yang diperolehnya, seseorang tidak dapat bersyukur kepada Allah atas nikmat-nikmat yang diperolehnya itu."</i>.</br>
	</p>

	<font color="#CD853F" style="font-family:constantia;"><b>Peta Nabi Idris (as.)</b></font>
		
	<p align="justify" style="font-family:constantia;">
	&emsp; Nabi Idris (as.) dilahirkan di Kota Babilonia, kemudian berhijrah ke Mesir ketika melihat Sungai Nil, dia berkata, <i>"Babilyuna"</i> yang artinya <i>'Sungai seperti sungai kalian, sungai ang besar, dan sungai yang penuh berkah.'. </i></br>
	
	&emsp; Idris (as.) adalah nabi pertama yang diutus Allah SWT setelah wafatnya Adam (as.). Sebelum menjadi nabi, pekerjaannya adalah sebagai penjahit pakaian yang terbuat dari kulit sapi. Dalam satu riwayat dikatakan, setiap kalimenusukkan jarum, dia selalu mengucap <i>"Subhanallah."</i>. Setelah menjadi nabi, Idris (as.) dikaruniai 30 <i>shahifah</i>.</br>
	
	&emsp; Nabi Idris (as.) diperkirakan bermukim di Mesir di mana dia berdakwah untuk mengakkan agama Allah, mengerjakan tauhid, dan beribadah menyembah Allah serta memberi beberapa pedoman hidup bagi pengikutnya supaya selamat dari siksa dunia dan akhirat.</br>
	
	&emsp; Keutamaan lain yang Allah karuniakan adalah bahwa Idris (as.) termasuk dari empat orang nabi yang masih hidup. Empat orang nabi yang masih hidup itu adalah Idris (as.) dan Isa (as.) (di langit) serta Nabi Khidr (as.) dan Nabi Ilyas (as.) (di bumi).</br>
	
	&emsp; Di antara sifat Nabi Idris (as.), disabdakan Rasulullah (saw.), <i>"Idris adalah sosok nabi yang takwa, cerdas, dan teratur. Tujuh hari ia bagi dua. Tiga hari untuk mengajarkan kebaikan kepada manusia dan empat hari tersisa digunakan untuk berkelana di bumi dan beribadah kepada Allah dengan penuh kesungguhan."</i>.
	</p>