	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Nabi Ilyas (as.)</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: <i>Syaamil Al-Qur'an The Miracle</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Uraian Kisah Nabi Ilyas (as.) dalam Al-Qur'an</b></font>
			
	<p align="justify" style="font-family:constantia;">
	&emsp; Nabi Ilyas (as.) adalah seorang utusan Allah. Dia diutus oleh Allah kepada kaumnya yang menyembah berhala (patung yang berbentuk makhluk hidup atau benda yang didewakan untk disembah, dipuja, dan bukan atas perintah Tuhan. Dibuat oleh tangan manusia terbuat dari batu, emas, kayu, atau bahan baku yang lainnya). Patung yang disembah kaum Nabi Ilyas (as.) bernama <b>Ba'al.</b></br>
	
	&emsp; Ba'al artinya "tuan", atau gelar dewa-dewa penduduk asli tanah Kanaan yang ditentang oleh para nabi terdahulu dan juga merupakan nama salah satu berhala dari orang Phunicia. Ciri-ciri khasnya ialah menjamin kesuburan. Karena itu, Ba'al sering turut disembah oleh orang Israil. Nabi Ilyas diutus kepada penduduk <b>Ba'labak</b>, sebelah barat <b>Kota Damaskus</b> (Libanon Timur sekarang).</br>
	
	&emsp; Selepas kematian Nabi Sulaiman (as.), kerajaan telah mengalami perpecahan. Pengaruh setan telah meluas. Manusia yang beragama diejek-ejek. Undang-undang Somaria telah membunuh kebanyakan golongan yang mengetahui dan mengikuti akidah yang benar. Pengaruh kejahatan menjadi semakin buruk dan Allah telah megutus Nabi Ilyas (as.) untuk memulihkan manusia pada zaman pemerintahan Raja Ahab dari Israil. Ilyas berusaha bersungguh-sungguh untuk menyelamatkan manusia dari mempercayai banyak tuhan dan melarang mereka mnyembah berhala Ba'al dan Allah mempertegas dalam ayat Al-Qur'an,</br>
	
	&emsp; <i>"Dan ingatlah Ismail, Ilyasa, dan Zulkifli. Semuanya termasuk orang-orang yang paling baik.".</i> (QS. Sad, 38: 48).</br>
	
	&emsp; Ilyas berulang-ulang memperingatkan kaumnya, betapa pun gigihnya Nabi Ilyas berdakwah, kaumnya tidak mau mendengarkannya. Maka, Allah menghukum mereka dengan adzab di dunia dan akhirat, Dengan kekuasaan-Nya, Allah menurunkan <b>musibah kekeringan</b> selama bertahun-tahun, sehingga mereka baru tersdar bahwa seruan Nabi Ilyas (as.) itu benar. Setelah kaumnya tersadar, Nabi Ilyas (as.) berdoa kepada Allah agar musibah kekeringan itu dihentikan. Namun, setelah musibah kekeringan itu berhenti, dan perekonomian mereka memulih, mereka kembali durhaka kepada Allah. Akhirnya kaum Nabi Ilyas (as.) kembali ditimpa musibah yang lebih berat daripada sebelumnya, yaitu <b>gempa bumi</b> yang dahsyat sehingga mereka mati bergelimpangan.</br>
	
	&emsp; Selesailah halaman kehidupan dunia dan mereka dihadirkan di hadapan Allah pada Hari Kiamat. Allah menceritakan hal tersebut dalam firman-Nya,</br>
	
	&emsp; <i>"Dan sesungguhnya Ilyas termasuk salah seorang dari rasul-rasul. (Ingatlah) ketika dia berkata kepada kaumnya, "Mengapa kamu tidak bertakwa? Patutkah kamu menyembah Ba'al dan kamu tinggalkan (Allah) sebaik-baik Pencipta, (yaitu) Allah Tuhanmu dan Tuhan nenek moyangmu terdahulu?" Tetapi mereka mendustakannya (Ilyas), maka sungguh, mereka akan diseret (ke neraka), kecuali hamba-hamba Allah yang disucikan (dari dosa). Dan Kami abadikan untuk Ilyas (pujian) di kalangan orang-orang yang datan kemudian, (Yaitu) kesejahteraan dilimpahkan atas Ilyas? Sesungguhnya demikianlah Kami memberi balasan kepada orang-orang yang berbuat baik. Sesungguhnya dia termasuk hamba-hamba Kami yang beriman."</i> (QS. As-Saffat, 37: 123-132).</p>
	
	<font color="#CD853F" style="font-family:constantia;"><b>Peta Nabi Ilyas (as.)</b></font>
	
	<p align="justify" style="font-family:constantia;">
	&emsp; Ilyas adalah seorang nabi dari kalangan <b>Bani Israil</b>. Ia adalah keturunan <b>Harun (as.)</b>, dan membimbing kaumnya di <b>lembah timur Sungai Jordan</b>. Saat itu, masyarakatnya telah meninggalkan agama dan kembali menyembah patung secara tidak rasional. Mereka menamai patung itu <b>Ba'al</b> sehingga tempat tinggalnya dinamai <b>Ba'labak</b>.</br>
	
	&emsp; Nabi Ilyas diutus untuk menyadarkan umatnya di Ba'labak, Libanon, agar tidak menyembah berhala yang bernama Ba'al. Nama Ba'labak sendiri berasal dari dua kata: Ba'l, yaitu nama berhala. Ukurannya 20 depa dan memiliki 400 muka. Ia terbuat dari emas. Sedangkan, Bak adalah nama tempat.</br>
	
	&emsp; Ilyas menyeru masyarakatnya untuk meninggalkan berhala tersebut. Namun, mereka mengabaikannya. Secara arogan, mereka malah menantang agar Tuhan yang disembah Ilyas menurunkan bencana kekeringan. Benar, kekeringan pun mendera masyarakat setempat. Kelaparan terjadi di mana-mana. Ilyas saat itu tetap mempunya makanan dan minuman berkecukupan.</br>
	
	&emsp; Alih-alih menyadari kekeliruan, mereka malah mengejar Ilyas. Nyaris Ilyas tertangkap, tetapi dia selamat setelah <b>bersembunyi</b> di rumah seorang pemuda, <b>Ilyasa</b>, yang kelak juga akan menjadi rasul. Baru beberapa tahun kemudian, Ilyas <b>berhasil</b> meyakinkan warganya. Jika menhendaki kemakmuran, masyarakat harus meninggalkan berhala tersebut dan hanya menuhankan Sang Pencipta. Masyarakat pun <b>mengikuti</b> seruan tersebut. <b>Kemakmuran</b> pun mendatangi masyarakat setmpat.</br>
	
	&emsp; Kisah ini mengajarkan bahwa kesuksesan dan kemakmuran dunia akhirat akan terwujud bila masyarakat benar-benar menuhankan Allah Sang Pencipta, serta meninggalka 'berhala' apa pun. Padahal, manusia sekarang cenderung menjadikan berbagai hal, seperti karir, kekayaan materi, hingga popularitas sebagai berhala.</br>
	</p>