<style>
	#daftar a:link {text-decoration: none; color: rgb(205,133,63);}
	#daftar a:visited {text-decoration: none; color: rgb(205,133,63);}
	#daftar a:hover {text-decoration: none; color: rgb(244,164,96);}
	#daftar a:active {text-decoration: none; color: blue;}
</style>

<div id="daftar">
	<p style="font-family:constantia;">
	01. <a href="http://lanterlite.blogspot.co.id/2017/03/sulaiman-as.html">Sulaiman (as.)</a></br>
	02. <a href="http://lanterlite.blogspot.co.id/2017/03/ilyas-as.html">Ilyas (as.)</a></br>
	03. <a href="http://lanterlite.blogspot.co.id/2017/03/ayub-as.html">Ayub (as.)</a></br>
	04. <a href="http://lanterlite.blogspot.co.id/2017/04/ibrahim-as_3.html">Ibrahim (as.)</a></br>
	05. <a href="http://lanterlite.blogspot.co.id/2017/04/luth-as.html">Luth (as.)</a></br>
	06. <a href="http://lanterlite.blogspot.co.id/2017/04/yahya-as.html">Yahya (as.)</a></br>
	07. <a href="http://lanterlite.blogspot.co.id/2017/05/idris-as.html">Idris (as.)</a></br>
	</p> 
</div>