	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Nabi Luth (as.)</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: <i>Syaamil Al-Qur'an The Miracle</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Uraian Kisah Nabi Luth (as.) dalam Al-Qur'an</b></font>
			
	<p align="justify" style="font-family:constantia;">
	&emsp; "Dan (Kami juga telah mengutus) Luth ketika dia berkata kepada kaumnya, <i>'Mengapa kamu melakukan perbuatan keji yang belum pernah dilakukan  oleh seorang pun sebelum kamu (di dunia ini)? Sungguh kamu telah melampiaskan syahwatmu kepada sesama lelaki, bukan kepada perempuan. Kamu benar-benar kaum yang melampaui batas.'</i>. Dan jawaban kaumnya tidak lain hanya berkata, <i>'Usirlah mereka (Luth dan pengikutnya) dari negerimu ini. Mereka adalah orang yang menganggap dirinya suci.'</i>. Kemudian, Kami selamatkan dia dan pengikutnya, kecuali istrinya. Dia (istrinya) temasuk orang-orang yang tertinggal. Dan Kami hujani mereka dengan hujan (batu). Maka dari itu, perhatikanlah bagaimana kesudahan orang yang berbuat dosa itu." (QS. Al-A'raf, 7: 80-84).</br>
	
	&emsp; Mereka (para malaikat) berkata, <i>"Wahai Luth, sesungguhnya kami adalah para utusan Tuhanmu. Mereka tidak akan dapat mengganggu kamu. Sebab itu, pergilah bersama keluargamu pada akhir malam dan jangan ada seorang pun di antara kamu yang menoleh ke belakang, kecuali istrimu. Sesungguhnya, dia (juga) akan ditimpa (siksaan) yang menimpa mereka. Sesungguhnya, saat terjadinya siksaan bagi mereka itu pada waktu shubuh. Bukankah shubuh itu sudah dekat?"</i></br>
	
	&emsp; Dan (ingatlah) ketika Kami berfirman kepada para malaikat, <i>"Sujudlah kamu semua kepada Adam,"</i> lallu mereka bersujud, kecuali iblis. Dia (iblis) berkata, <i>"Apakah aku harus bersujud epada orang yang Engkau ciptakan dari tanah?"</i></br>
	
	&emsp; Dia (Iblis) berkata, <i>"Terangkanlah kepadaku, inikah yang lebih Engkau muliakan daripada aku? Sekiranya Engkau memberi waktu kepadaku sampai hari Kiamat, pasti akan aku sesatkan keturunannya, kecuali sebagian kecil."</i></br>
	
	&emsp; Dia (Allah) berfirman, <i>"Pergilah, tetapi barang siapa di antara mereka yang mengikuti mkamu maka sungguh, Neraka Jahanamlah balasanmu sebagai pembalasan yang cukup."</i></br>
	
	&emsp; "Dan perdayakanlah siapa saja di antara mereka yang engkau (Iblis) sanggup dengan suaramu (yang memukau), kerahkanlah pasukanmu terhadap mereka, yang berkuda dan yang berjalan kaki, dan bersekutulah dengan mereka pada harta dan anak-anak, lalu beri janjilah kepada mereka, Padahal, setan itu hanya menjanjikan tipuan belaka kepada mereka."</br>
	
	&emsp; "Sesungguhnya, (terhadap) hamba-hamba-Ku, engkau (Iblis) tidaklah dapat berkuasa atas mereka. Dan cukuplah Tuhanmu sebagai penjaga."</br>
	
	&emsp; Tuhanmulah yang melayarkan kapal-kapal di lautan untukmu agar kamu mecari karunia-Nya. Sungguh, Dia Maha Penyayang terhdapmu.</br>
	
	&emsp; Dan apabila kamu ditimpa bahaya di lautan, niscaya hilang semua yang (biasa) kamu seru, keciali Dia. Akan tetapi, ketika Dia menyelamatkan kamu ke daratan, kamu berpaing (dari-Nya). Dan manusia memang selalu ingkar (tidak bersyukur).</br>
	
	&emsp; Maka dari itu, apakah kamu merasa aman bahwa Dia tidak akan membenamkan sebagian daratan bersama kamu atau dia meniupkan (angin keras yang membawa) batu-batu kecil? Dan kamu tidak akan mendapatkan seorang pelindung pun ataukah kamu merasa aman bahwa Dia tidak akan mengembalikan kamu ke laut sekali lagi, lalu Dia tiupkan angin topan kepada kamu dan ditenggelamkan-Nya kamu karena kekafiranmu? Kemudian, kamu tidak akan mendapat seorang penolong pun dalam menghadapi (siksaan) Kami.</br>
	
	&emsp; Dan sungguh, Kami telah memuliakan anak cucu Adam; dan Kami angkut mereka di darat dan di laut, dan Kami ber mereka rezeki dari yang baik-baik, dan Kami lebihkan mereka di atas banyak makhluk yang Kami ciptakan dengan kelebihan yang sempurna.</br>
	
	&emsp; (Ingatlah), pada hari (ketika) Kami panggil setiap umat dengan pemimpinnyal dan barang siapa diberikan catatan amalnya di tangan kananya, mereka akan membaca catatanya (dengan baik) dan mereka tidak akan dirugikan sedikit pun. Dan barang siapa buta (hatinya) di dunia ini, maka di akhirat dia akan buta dan tersesat jauh dari jalan (yang benar).</br>
	
	&emsp; Dan mereka hampir memalingkan engkau (mMuhammad) dari apa yang telah Kami wahykan kepadamu agar engkau mengada-ada yang lain terhadap Kami, dan jika demikian, tentu mereka menjadikan engkay sahabat yang setia.</br>
	
	&emsp; Dan sekiranya Kami tidak memperteguh (hati)mu, niscaya engkau hampir saja condong sedikit kepada mereka. Jika demikian, tentu akan Kami rasakan kepadamu (siksaan) berlipat ganda di dunia ini dan berlipat ganda setelah mati, dan engkau ( Muhammad) tidak akan mendapat seorang penolong pun terhadap Kami.</br>
	
	&emsp; Dan sungguh, mereka hampir membuatmu (Muhammad) gelisah di negeri (Mekah) karena engkau harus keluar dari negeri itu, dan kalau terjadi demikian, niscaya sepeninggalmu, mereka tidak akn tinggal (di sana), melainkan sebentar saja.</br>
	
	&emsp; Kaum Luth telah mendustakan para rasul ketika saudara mereka, Luth, berkata kepada mereka, <i>"Mengapa kamu tidak bertakwa? Sungguh, aku ini seoran rasul kepercayaan (yang diutus) keadamu maka bertakwalah kepada Allah dan taatlah kepadaku. Dan aku tidak meminta imbalan kepadamu atas ajakan iu; imbalanku hanyalah dari Tuhan seluruh alam. Mengapa kamu mendatangi jenis laki-laki di antara manusia (erbuat homoseks) dan kamu meninggalkan (perempuan) yang diciptakan Tuhan untuk menjadi istri-istri kamu? Kamu (memang) orang-orang yang melampaui batas."</i></br></p>
	
	<font color="#CD853F" style="font-family:constantia;"><b>Peta Nabi Luth (as.)</b></font>
	
	<p align="justify" style="font-family:constantia;">
	&emsp; Nabi Luth (as.) bermukim di sebuah tempat bernama Sodom di wilayah Yordania. Masyarakat Sodom adalah masyarakat yang tingkat moralnya rendah, mentalitasnya rusak, tidak memiliki pegangan agama, dan tidak berlaku di dalamnya nilai-nilai kemanusiaan yang beradab. Maksiat, angkara murka, dekadensi moral, dan kelacutan begitu mewabah merajalela. Masyarakat membolehkan kehidupan homoseksual dan lesbian. Jangan harap ada pendatang yang bisa selamat di sana.</br>
	
	&emsp; Kepada masyarakat yang membangkang inilah, Nabi Luth (as.) diutus. Tugasnya menjadi pesuruh dan rasul Allah dengan misi mengangkat mereka dari lembah kenistaan, kejahilan, dan kesesatan serta membawa mereka ke dunia yang berakhlak mulia. Namun pikiran dan hati warga Sadum sudah keras dirasuki dengan ajaran-ajaran setan dan Iblis.</br>
	
	&emsp; Dakwah yang begitu arif dibalas dengan anarkisme. Tidak cukup dengan meminta Nabi Luth (as.) menghentikan aksi dakwahnya, mereka pun mengancam untuk mengusir Luth berikut semua keluarganya. Asa pun sirna. Bagi Nabi Luth (as.), jerih payah menumpas kesesatan dan keruntuhan. Solusi satu-satunya adalah dengan mencegah agar penyakit akhlak yang demikian parah tidak menular kepada tetangga-tetangga dekatnya, tiada cara lain selain membinasakan mereka di muka bumi sebagai pembalasan atas keangkuhan mereka dan sebagai <i>ibrah</i> bagi umat-umat di sekitarnya. Nabi Luth (as.) memohon kepada Allah agar kaumnya diberi pelajaran berupa azab di dunia sebelum azab yang menanti mereka di akhirat kelak.</br>
	
	&emsp; Permohonan Nabi Luth (as.) dan doanya dikabulkan Allah yang lantas mengirimkan tiga orang malaikat yang menyamar sebagai manusia biasa. Mereka adalah malaikat yang bertamu kepada Nabi Ibrahim (as.) dengan membawa berita gembira atas kelahiran Ishak dan mengabarkan bahwa mereka adalah utusan Allah dengan tugas menurunkan azab kepada kaum Luth, penduduk kota Sadum. Dalam kesempatan pertemuan tersebut, Nabi Ibrahim (as.) memohon untuk memberi tempo, berharap mereka kembali sadar untuk mendengar dan mengikuti ajakan Luth serta bertaubat dari segala maksiat dan perbuatan mungkar. Dalam pertemuan itu pun Nabi Ibrahim (as.) memohon agar anak Luth diselamatkan dari azab.</br>
	</p>
	
