	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Nabi Nuh (as.)</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: <i>Syaamil Al-Qur'an The Miracle</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Uraian Kisah Nabi Nuh (as.) dalam Al-Qur'an</b></font>
			
	<p align="justify" style="font-family:constantia;">
	Nama pertamanya adalah Abdul Malik. Disebut Nuh karena dia selalu meratapi umatnya selama 500 tahun. Menurut Ibnu Katsir bahwa Nuh diutus untuk kaum Bani Rasib. Dia lahir 126 tahun sepeninggal Nabi Adam (as.)
	
	Suyuti menceritakan bahwa nama Nuh bukan berasal dari bahasa Arab tetapi dari bahasa Syria yang artinya "Bersyukur" atau "Selalu berterima kasih.". Hakim berkata, dinamakan Nuh karena seringnya dia menangis, namanua adalah Abdul Ghafar (Penyembah Tuhan yang dilupakan).
	
	Nuh adalah nabi keempat setelah Adam, Shiyth, adn Idris. Dia merupakan keturunan kesembilan dari Nabi Adam. Ayahnya adalah Lamik bin Metusyalih bin Idris. Nabi Nuh menerima wahyu kenabian dari Allah dalam masa fatrah, masa kekosongan di antara dua rasul yang saat itu biasanya manusia secara berangsung-angsur melupakan ajaran agama yang dibawa oleh nabi yang meninggalkan mereka dan kembali meninggalkan amal kebajikan, melakukan kemungkaran dan kemaksiatan di bawah pimpinan Iblis.
	
	Ibnu Abbas menceritakan bahwa nabi Nuh (as.) diutus pada kaumnya ketika berumur 480 tahun. Masa kenabiannya adalah 120 tahun. Dia mengarungi banjir ketika dia berumur 600 tahun dan kemudian setelah banjir dia hidup selama 350 tahun. Ibnu Abbas menceritakan bahwa suatu ketika Nabi Isa (as.) menghidupkan Ham Ibnu Nuh dan bertanya kepadanya mengapa rambutnya beruban, dia menjawab dia meninggal di saat usia muda karena ketakutannya ketika banjir. Dia berkata bahwa panjang kapal Nuh adalah 1200 Kubit danlebarnya 600 Kubit dan mempunyai 3 lapisan.
	
	Menikah sebanyak dua kali. Istri pertama adalah 'Amud. 'Amudlah yang pertama kali beriman kepadanya. Darinya, lahir tiga orang anak: Sam, Yam, dan Ham. Kemudian, menikah dengan Wahilah yang melahirkan dua orang anak: Yafits dan Kan'an.
	
	Pekerjaan sehari-hari Nuh (as.) adalah sebagai pemahat batu.
	
	Kurang lebih selama 300 tahun Nabi Nuh (as.) berdakwah secara sirriyah (sembunyi-sembunyi). Setelah itu, Allah memerintahkan untuk berdakwah secara jahriyyah (terang-teranggan). Nabi Nuh (as.) diutus kepada Bani Rasib yang dipimiin seorang raja benama Darmasil. Darmasil adalah sosok penguasa tiran dan penyembah banyak berhala, di antaranya Wad, Suwa', Yaghuts. Ya'uq, dan Natsra. Kemudian, selama 50 tahun, dia menyeru Bani Qabil yang sama-sama menyembah berhala.
	
	Inti ajaran Nabi Nuh (as.) adalah tauhid, salat, puasa, amar ma'ruf. dan nahyi munkar, namun, dakwah dibalas dengan angkara murka, sebagaimana dalam Al-Qur'an Allah SWT berfirman,
	
	"Dan sesungguhnya Kami telah mengutus Nuh kepada kaumnya, (dia berkata), <i>'Sesungguhnya aku adalah pemberi peringatan yang nyata bagi kamu agar kamu tidak menyembah sleain Allah. Sesungguhnya aku takut kamu akan ditimpa azab (pada) hari yang sangat menyedihkan.'</i>". (QS. Hud, 11:25-26)
	
	Mereka dimusnahkan karena menolak dakwah Nabi Nuh (as.) dan Allah SWT berfirman alam Al-Qur'an dengan jelas,
	
	"Maka mereka mendustakan Nuhm kemudian Kami selamatkan dia dari orang-orang yang bersamanya dalam bahtera, dan Kami tenggelamkan orang-orang yang mendustakan ayat-ayat Kami. Sesungguhnya mereka adalah kaum yang buta (maya hatinya)". (QS. Al-A'raf, 7:64)
	</p>
	
	<font color="#CD853F" style="font-family:constantia;"><b>Peta Nabi Nuh (as.)</b></font>
		
	<p align="justify" style="font-family:constantia;">
	Allah tidak membiarkan utusan-Nya berlunta-lunta dalam ketidak