	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Nabi Sulaiman (as.)</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: <i>Syaamil Al-Qur'an The Miracle</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Uraian Kisah Nabi Sulaiman (as.) dalam Al-Qur'an</b></font>

	<p align="justify" style="font-family:constantia;">
	&emsp; <i>"Dan sungguh, Kami telah memberikan ilmu kepada Dawud dan Sulaiman, dan keduanya berkata. 'Segala puji bagi Allah uang melebihkan kami dari banyak hamba-hambanya yang beriman'"</i>. (QS. An-Naml, 27: 15)</br>

	&emsp; Dan Sulaiman telah mewarisi Daud, dan dia (Sulaiman) berkata, <i>"Wahai manusia, kami telah diajari bahasa burung dan kami diberi segala sesuatu. Sungguh, (semua) ini benar-benar karunia yang nyata."</i>. (QS. An-Naml, 27: 16)</br>

	&emsp; Dan Sulaiman mengumpulkan bala tentaranya yang terdiri atas <b>jin</b>, <b>manusia</b>, dan <b>burung</b>, lalu mereka berbaris dengan tertib.</br>

	&emsp; Hingga ketika mereka sampai di lembah semut, berkatalah seekor semut, <i>"Wahai semut-semut, masuklah ke dalam sarang-sarangmu agar kamu tidak diinjak oleh Sulaiman dan bala tentaranya, sedangkan mereka tidak menyadari."</i>.</br>

	&emsp; Maka, Sulaiman tersenyum, lalu tertawa karena mendengar perkataan semut itu. Dan dia berdoa, <i>"Ya Tuhanku, anugerahkanlah aku ilham untuk tetap mensyukuri nikmat-Mu yang telah Engkau anugerahkan kepadaku dan kepada kedua orang tuaku dan agar aku mengerjakan kebajikan yang Engkau ridhai, dan masukkanlah aku dengan rahmat-Mu ke dalam golongan hamba-hamba-Mu yang saleh."</i>.</br>

	&emsp; Dan dia memeriksa burug-burung, lalu berkata, <i>"Mengapa aku tidak melihat Hud-hud, apakah ia termasuk yang tidak hadir? Pasti akan kuhukum dia dengan hukuman yang berat atau kusembelih dia, kecuali jika dia datang kepadaku dengan alasan yang jelas."</i>.</br>
	
	&emsp; Maka, tidak lama kemudian, datanglah <b>Hud-hud</b>, lalu ia berkata, <i>"Aku telah mengetahui sesuatu yang belum engkau ketahui. Aku datang kepadamu dari negeri Saba' membawa suatu berita yang meyakinkan. Sungguh, Kudapati ada seorang perempuan yang memerintah mereka dan dia dianugerahi segala sesuatu serta memiliki singgasana yang besar. Aku dapati dia dan kaumnya menyembah matahari, bukan Allah, dan setan telah menjadikannya terasa indah perbuatan-perbuatan (buruk) mereka sehingga menghalangi mereka dari jalan Allah. Maka, mereka tidak mendapat petunjuk. Mereka juga tidak menyembah Allah yang mengeluarkan apa yang terpendam di langit dan di bumi serta yang mengetahui apa yang kamu sembunyikan dan yang kamu nyatakan, 'Allah, tidak ada Tuhan, melainkan Dia, Tuhan Yang Mempunyai 'Arsy yang agung.'"</i>.</br>
	
	&emsp; Sulaiman berkata, <i>"Akan kami lihat, apa kamu benar atau termasuk yang berdusta. Pergilah dengan membawa suratku ini, lalu jatuhkanlah kepada mereka, kemudian berpalinglah dari mereka, lalu perhatikanlah apa yang mereka bicarakan."</i>.</br>
	
	&emsp; <b>Balqis</b> berkata, <i>"Wahai para pembesar, sesunguhnya telah disampaikan kepadaku sebuah surat yang mulia. Sesungguhya, surat itu dari Sulaiman yang isinya, 'Dengan nama Allah Yang Maha Pengasih, Maha Penyayang, Janganlah engkau berlaku sombong terhadapku dan datanglah kepadaku sebagai orang-orang yang berserah diri.'"</i>.</br>
	
	&emsp; Balqis berkata, <i>"Sesungguhnya, raja-raja apabila menaklukan suatu negeri, mereka tentu membinasakannya dan menjadikan penduduknya yang mulia jadi hina, dan demikian yang akan mereka perbuat. "Dan sungguh, aku akan mengirimkan utusan kepada mereka dengan membawa hadiah dan aku akan menunggu apa yang akan dibawa kembali oleh utusan itu."</i>.</br>
	
	&emsp; Maka, ketika para utusan itu sampai kepada Sulaiman, Sulaiman berkata, <i>"Apakah kamu akan memberikan harta kepadaku? Apa yang Allah berikan kepadaku lebih baik daripada apa yang Allah berikan kepadamu, tetapi kamu merasa bangga dengan hadiahmu. Kembalilah kepada mereka, sungguh, Kami pasti akan mendatangi mereka dengan bala tentara yang mereka tidak mampu melawannya dan akan kami usir mereka dari negeri itu (Saba') secara terhina dan mereka akan menjadi tawanan yang hina dina."</i>.</br>
	
	&emsp; Sulaiman berkata, <i>"Wahai para pembesar, siapakah di antara kamu yang sanggup memawa singgasananya kepadaku sebelum mereka datang kepadaku menyerahkan diri?"</i>.</br>
	
	&emsp; <b>Ifrit</b> dari golongan <b>jin</b> berkata, <i>"Akulah yang akan membawanya kepadamu sebelum engkau berdiri dari tempat dudukmu, dan sungguh, aku kuat melakukannya dan dapat dipercaya."</i>.
	</p>
	
	<font color="#CD853F" style="font-family:constantia;"><b>Peta Nabi Sulaiman (as.)</b></font>
	
	<p align="justify" style="font-family:constantia;">
	&emsp; Sulaiman menjadi raja setelah ayahnya wafat. Beliau berkuasa tidak hanya atas manusia, namun juga atas binatang dan makhluk halus, seperti jin dan setan. Sulaiman dapat memahami semua bahasa binatang.</br>
	
	&emsp; Selain kelebihan tersebut di atas, Sulaiman adalah seorang raja yang bijak. Sampai suatu ketika, Absyalum mendeklarasikan dirinya sebagai raja, sekaligus merampas kekuasaan bapakya sendiri. Tindakan itu mengakibatkan huru-hara di kalangan Bani Isra'il. Melihat keadaan itu, Nabi Daud keluar dari Baitul Maqdis, lalu menyebrangi Sungai Jordan menuju ke Bukit Zaitun. Tindakannya itu semata-mata hendak menghindari pertumpahan darah.</br>
	
	&emsp; Kemudian, Nabi Daud kembali ke Baitul Maqdis dan menghabiskan sisa hidupnya selama 40 tahun di istana itu sebelum melepaskan tahta kepada Sulaiman. Wafatnya Nabi Daud memberikan kuasa penuh kepada Nabi Sulaiman untuk memimpin Bani Isra'il berdasarkan kebijaksanaan yang dianugerahkan oleh Allah kepadanya. Beliau juga dapat menundukkan jin, angin, dan burung sehingga dapat disuruh melakukan apa saja, termasuk mendaatkan tembaga dari perut bumi untuk dijadikan senjata.</br>
	
	&emsp; Firman Allah, <i>"Dan Kami (tundukkan) angin bagi Sulaiman yang perjalanannya pada waktu petang sama dengan perjalanan sebulan dan Kami alirkan cairan tembaga baginya. Dan sebahagian dari jin ada yang bekerja di hadapannya (di bawah kekuasaannya) dengan izin Tuhannya. Dan barang siapa di antara mereka yang menolak perintah Kami, Kami rasakan keoadanya azab neraja yang apinya menyala-nyala."</i>. (QS. Saba', 34: 12)</br>
	
	&emsp; Setelah membangun Baitul Maqdis, Nabi Sulaiman menuju ke Yaman. Tiba di sana, disuruhnya burung Hud-hud (sejenis pelatuk) mencari sumber air. Akan tetapi, burung tersebut tidak ada ketika dipanggil. Ketiadaan burung Hud-hud menimbulkan kemarahan Sulaiman selepas itu, burung Hud-hud datang kepada Nabi Sulaiman dan berkata, "Aku telah terbang untuk memantau dan aku menjumpai sesuatu yang sangat penting untuk diketahui oleh Tuan..."</br>
	
	&emsp; Firman Allah, <i>"Maka, tidak lama kemudian, datanglah Hud-hud, lalu ia berkata, 'Aku telah mengetahui sesuatu yang kamu belum mengetahuinya dan aku bawa kepadamu dari negeri Saba' suatu berita penting yang diyakini."</i>. (QS. An-Naml, 27:22)</br>
	</p>