	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Nabi Yusuf (as.)</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: <i>Syaamil Al-Qur'an The Miracle</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Uraian Kisah Nabi Yusuf (as.) dalam Al-Qur'an</b></font>
			
	<p align="justify" style="font-family:constantia;">
	&emsp; Kisah Nabi Yusuf (as.) terdapat dalam satu surah penuh yang juga bernama surah Yusuf. Surah ini turun karena orang-orang Yahudi meminta kepada Rasulullah (saw.) untuk menceritakan kisah Nabi Yusuf (as.) sebagaimana yang mereka dapati pada kitab-kitab suci mereka sebelum Al-Qur'an,</br>
	
	&emsp; "Kami menceritakan kepadamu kisah yang paling baik dengan mewahyukan Al-Qur'an ini kepadamu, dan sesungguhnya kamu sebelum (kami mewahyukan)ya adalah termasuk orang-orang yang be;=lum mengetahuinya" (QS. Yusuf, 12:13)</br>
	
	&emsp; Kisah Yusuf adalah kisah terbaik nan indah yang disebut oleh Al-Qur'an. Keindahan itu mengandung hal-hal berikut:</br>
	
	- Kisah Yusuf sarat dengan kandungannya yang memuat berbagai ungkapan dan hikmah. Sikap pemaaf Nabi Yusuf, emengampuni saudara-saudaranya dan bersikap sabar atas tindakan mereka.</br>
	
	- Kisah ini merupakan kisah teladan dari para nabi dan orang-orang saleh. Terdapat penjagaan kehormatan diri dan adanyagodaan, kehidupan para raja pria dan wanita, tipu dayankaum wanita, di dalamnya juga deisebut tentang aspek tauhid dan fikih, pengungkapan mimpi dan penakwilannya. Di samping itu, dia adalah surah yang penuh dengan peristiwa-peristiwa dan petualangan emosi (perasaan atau cinta).</br>
	
	- Nasib para pemeran dalam kisah tersebut, pada akhirnya semuanya mendapatkan kebahagiaan.</br>
	
	&emsp; Dalam kisah tersebut, diceritakan bahwa Nabi Yusuf (as.) mendapatkan berbagai ujian dalam hidupnya. Dia menghadapi persekongkolan jahat yang justru datang dari orang-orang yang dekat dengannya, yaitu saudara-saudaranya. Bahkan, mereka merencanakan untuk membunuhnya. Rencana itu mereka buat saat Yusuf masih kecil. Niat buruk mereka timbul karena iri dan dengki atas kasih sayang yang diberikan oleh sang ayah begitu besar kepadanya. Semenjak dia mendapat mimpi yang luar biasa, sang ayah selalu berpesan untuk berhati-hati.</br>
	
	&emsp; "Ayahnya berkata, <i>'Hai anakku, janganlah kamu ceritakan mimpimu itu kepada saudara-sauadramu, maka mereka membuat makar (untuk membinasakanmu). Sesungguhnya setan itu adalah musuh yang nyata bagi manusia.'</i>." (QS. Yusuf, 12:5)</br>
	
	&emsp; Hingga kemudian Yusuf tidak dapat menjaga mimpu itu dari pendengaran saudara-saudaranya dan diapun mendapat ujian pertama, dia harus dibuang oleh saudara-saudaranya di lubang sumur. Hingga kemudian ditemukan oleh seorang musafir dan dijual di pasar budak di Mesir, lalu dia dibeli seseorang dengan harga yang sangat murah. Sampai dia berada di istana sebagai pelayan.</br>
	
	&emsp; Ketampanannya yang tidak dimiliki oleh sekalian makhluk di jagad raya, menjadikan istri sang raja tertarik dan merayunya. Ketika dia menolak rayuannya, dia pun dijebloskan ke dalam penjara. Dalam beberapa waktu, beliau menjadi tahanan di penjara. Dia selalu mendapatkan berbagai kehinaan. Kemudian Allah menganugerahkan mukjizat kepadanya, kemampuan menakwilkan mimpi. Dengan mukjizat itu dia pun bebas dan menjadi salah satu penasihat raja. Dan pada akhirnya beliau mampu menduduki tampuk kepemimpinan di Mesir.</br>
	
	&emsp; Beliau menjadi menteri dari raja yang pertama. Dia memulai dakwahnya di jalan Allah dari atas panggung kekuasaan. Ia melaksanakan rencana Allah dan menunaikan perintah-Nya, dia pun selalu mengingat kebesaran-Nya:</br>
	
	&emsp; <i>"Ya Tuhanku, sesungguhnya Engkau telah menganugerahkan kepadaku sebagian kerajaan dan telah mengajarkan kepadaku sebagian tabir mimpi. (Ya Tuhan) Pencipta langit dan bumi, Engkaulah Pelindungku di dunia dan di akhirat, wafatkanlah aku dalam keadaan islam dan gabungkanlah aku dengan orang-orang yang saleh."</i> (QS. Yusuf, 12:101)</br>
	
	&emsp; Keberhasilan Nabi Yusuf (as.) ternyata tidak menjadikannya takabur dan dendam kepada semua orang yang telah berbuat jahat kepadanya. Bahkan, sifat bijaksana dan kesantunannya menunjukkan bahwa dirinya adalah seorang yang mulia yang telah dipilih Allah sebagai penyampai risalah-Nya. Dia mengundang semua keluarganya untuk berpindah dari Palestina yang miskin ke tanah Mesir yang makmur. Dan perpindahan keluarga Ya'kub ini merupakan tonggak sejarah bagi perkembangan anak cucu Ya'kub (Bai Israil) yang bermula di negeri Mesir.</br>
	
	&emsp; "Maka tatkala mereka masuk ke (tempat) Yusuf: Yusuf merangkul ibu bapaknya dan dia berkata, <i>'Masuklah kamu ke negeri Mesir, insya Allah dalam keadaan aman.'</i> Dan ia menaikkan kedua ibu bapaknya ke atas singgasana. Dan mereka (semuanya) merebah diri seraya bersujud kepada Yusuf. Dan berkata Yusuf, <i>'Wahai ayahku inilah tabir mimpiku yang dahulu itu, sesungguhnya Tuhanku telah menjadikannya suatu kenyataan. Dan sesungguhnya Tuhanku telah berbuat baik kepadaku, ketika Dia membebaskan aku dari rumah penjara dan ketika membawa kamu dari dusun padang pasir, setelah setan merusakkan (hubungan) antaraku dan saudara-saudaraku. Sesungguhnya Tuhanku Mahalembut terhadap apa yang Dia kehendaki. Sesungguhnya Dialah Yang Mahabijaksana lagi Maha Mengetahui."</i> (QS. Yusuf, 12:99-100)</br>
	</p>