Berikut golongan-golongan yang didoakan oleh malaikat:

1. Orang yang tidur dalam keadaan bersuci.
"Barangsiapa yang tidur dalam keadaan suci, maka malaikat akan bersamanya di dalam pakaiannya. Dia tidak akan bangun hingga malaikat berdoa; Ya Allah, ampunilah hamba-Mu si fulan karena tidur dalam keadaan suci."
(HR. Imam Ibnu Hibban dari Abdullah bin Umar)

2. Orang yang sedang duduk menunggu waktu sholat.*
"Tidaklah salah seorang di antara kalian yang duduk menunggu sholat, selama ia berada dalam keadaan suci, kecuali para malaikat akan mendoakannya; Ya Allah, ampunilah ia. Ya Allah sayangilah ia."
(HR. Imam Muslim dari Abu Hurairah, Shahih Muslim: 469)

3. Orang-orang yang berada di shaf barisan depan di dalam sholat berjamaah.
"Sesungguhnya Allah dan para malaikat-Nya bershalawat kepada (orang - orang) yang berada pada shaf-shaf terdepan."
(HR. Imam Abu Dawud dan Ibnu Khuzaimah dari Barra' bin 'Azib)

4. Orang yang menyambung shaf sholat berjamaah (tidak membiarkan kosong di dalam shaf).
"Sesungguhnya Allah dan para malaikat selalu bershalawat kepada orang-orang yang menyambung shaf-shaf."
(HR. Imam Ahmad, Ibnu Majah, Ibnu Khuzaimah, Ibnu Hibban, dan Al Hakim meriwayatkan dari Aisyah)

5. Para malaikat mengucapkan "aamiin" ketika seorang Imam selesai membaca Al-Fatihah
"Jika seorang Imam membaca; ghairil maghdhuubi 'alaihim waladh-dhaalinn', maka ucapkanlah oleh kalian "aamiin", karena barangsiapa ucapannya itu bertepatan dengan ucapan malaikat, maka ia akan diampuni dosanya yang masa lalu."
(HR. Imam Bukhari dari Abu Hurairah, Shahih Bukhari: 782)

6. Orang yang duduk di tempat sholatnya setelah melakukan sholat.
"Para malaikat akan selalu bershalawat (berdoa) kepada salah satu diantara kalian selama ia ada di dalam tempat sholat di mana ia melakukan sholat, selama ia belum batal wudhunya, (para malaikat) berkata; Ya Allah ampunilah dan sayangilah ia."
(HR. Imam Ahmad dari Abu Hurairah, Al-Musnad no. 8106)

7. Orang-orang yang melakukan sholat shubuh dan ashar secara berjama'ah.
"Para malaikat berkumpul pada saat sholat shubuh lalu para malaikat (yang menyertai hamba) pada malam hari (yang sudah bertugas malam hari hingga shubuh) naik (ke langit), dan malaikat pada siang hari tetap tinggal. Kemudian mereka berkumpul lagi pada waktu sholat 'ashar dan malaikat yang ditugaskan pada siang hari (hingga sholat 'ashar) naik (ke langit) sedangkan malaikat yang bertugas pada malam hari tetap tinggal, lalu Allah bertanya kepada mereka, "Bagaimana kalian meninggalkan hamba-Ku?", mereka menjawab; kami datang sedangkan mereka sedang melakukan sholat dan kami tinggalkan mereka sedangkan mereka sedang melakukan sholat, maka ampunilah mereka pada hari kiamat."
(HR. Imam Ahmad dari Abu Hurairah, Al-Musnad no. 9140)

8. Orang yang mendoakan saudaranya tanpa sepengetahuan orang yang didoakan.
"Doa seorang muslim untuk saudaranya yang dilakukan tanpa sepengetahuan orang yang didoakannya adalah doa yang akan dikabulkan. Pada kepalanya ada seorang malaikat yang menjadi wakil baginya, setiap kali dia berdoa untuk saudaranya dengan sebuah kebaikan, maka malaikat tersebut berkata;  "aamiin" dan engkau pun mendapatkan apa yang ia dapatkan."
(HR. Imam Muslim dari Ummud Darda', Shahih Muslim: 2733)

9. Orang-orang yang berinfak.
Tidak satu hari pun di mana pagi harinya seorang hamba ada padanya kecuali 2 malaikat turun kepadanya, salah satu diantara keduanya berkata, "Ya Allah, berikanlah ganti bagi orang yang berinfak", dan lainnya berkata, "Ya Allah, hancurkanlah harta orang yang pelit (bakhil)"
(HR. Imam Bukhari dan Imam Muslim dari Abu Hurairah, Shahih Bukhari: 1442 dan Shahih Muslim: 1010)

10. Orang yang sedang makan sahur.
"Sesungguhnya Allah dan  para malaikat-Nya bershalawat (berdoa ) kepada orang-orang yang sedang makan sahur" Insya Allah termasuk di saat sahur untuk puasa "sunnah"._
(HR. Imam Ibnu Hibban dan Imam Ath-Thabrani, dari Abdullah bin Umar)

11. Orang yang sedang menjenguk orang sakit.
" Tidaklah seorang mukmin menjenguk saudaranya kecuali Allah akan mengutus 70.000 malaikat u