	<p style="font-family:Constantia; font-size:15px;">
		<b>Tema</b>: Hukum Nyanyian dan Mendengarkannya</br>
		<b>Penulis</b>: Ifan Ramadhani</br>
		<b>Referensi</b>: Syaikh Muhammad Fadh, Syaikh Abdul Aziz Bin Baz. <i>Sifat Wudhu dan Sifat Shalat Nabi (Saw.).</i></br>
	</p>		

	<font color="#CD853F" style="font-family:constantia;"><b>Hukum Nyanyian dan Mendengarkannya</b></font>
	<p align="justify" style="font-family:constantia;">				
	&emsp; Hukum nyanyian dan mendengarkannya adalah haraam serta mungkar. Dan merupakan penyebab penyakit hati dan kerasnya. Sebagian ulama sepakat akan pengharamannya dan mereka menyebutkan dalil-dalil pengharamannya sebagai berikut.</br>
	
	&emsp; <i>"Sungguh akan ada di kalangan umatku sekelompok orang yang menghalalkan zina, sutera, khamr, dan ma'azif (musik dan nyanyian). Dan beberapa kelompok orang akan singgah di lereng gunung dengan binatang ternak mereka. Seorang yang fakir mendatangi mereka untuk suatu keperluan, lalu mereka berkata, 'Kembalilah kepada kami esok hari.' Kemudian Allah mendatangkan siksaan kepada mereka dan menimpakan gunung kepada mereka serta Allah mengubah sebagian mereka menjadi kera dan babi hingga hari kiamat."</i> (HR. Al-Bukhari no. 5590)
	</p>
	