<!DOCTYPE HTML>
<html>
	<title>Lanterlite</title>
	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/navbar.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/slideshow.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/brown-favicon.ico') }}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <body style="opacity: 7.5; filter: alpha(opacity=50);" background="{{ url_for('static', filename='images/bgimage.jpg') }}"> -->
	<body 
	background="{{ url_for('static', filename='images/bgimage.jpg') }}">
	<div id="label">
			<img src="{{ url_for('static', filename='images/brown-plain.svg') }}" onerror="src='{{ url_for('static', filename='images/blog-header.png') }}'" style="height:70px; width:200px;"/>
	</div>
	<div id="nav-bar">
		<ul>
			<li><a href="javascript:void(0)" class="dropbtn"><font face="lanterlite_cambria" size=4px>ISLAM</font></a></li>
			<li><a href="javascript:void(0)" class="dropbtn"><font face="lanterlite_cambria" size=4px>TECHNOLOGY</font></a></li>
			<li><a href="javascript:void(0)" class="dropbtn"><font face="lanterlite_cambria" size=4px>PRODUCT</font></a></li>
		</ul>
	</div>
	
	<style>
	table, th, td {
		/* border: 1px solid black; */
		/* border: 1px solid transparent; */
		border: 1px solid transparent;
	}

	</style>
	<style>
		#daftar a:link {text-decoration: none; color: rgb(205,133,63);}
		#daftar a:visited {text-decoration: none; color: rgb(205,133,63);}
		#daftar a:hover {text-decoration: none; color: rgb(244,164,96);}
		#daftar a:active {text-decoration: none; color: blue;}
	</style>

	<div id="home-post">
		<!-- <table cellpadding="18px"> -->
		<table cellpadding="0px">
		<thead>
		</thead>
		<tbody>
		<div id="daftar">
		<tr>
			<td width="1px" height="20px" ></td>
			<td width="25px"></td>
			<td width="600px"></td>
			<td width="20px"><img src="{{ url_for('static', filename='images/youtube.png') }}" style="height:30px; width:30px;"/></td>
			<td width="70px" ><a style="text-decoration: none;" href="https://www.youtube.com/channel/UChzvNoCSmP1b57IRI1Fq1pA"><font face="lanterlite_cambria" size=4px color="#FFFCC9">Youtube</font></a></td>
		</tr>
		<tr>
			<td height="2px" rowspan="10"> <img  src="{{ url_for('static', filename='images/cream-500x500.png') }}" style="height:250px; width:250px;"/></td>
			<td ></td>
			<td ></td>
			<td width="20px"><img src="{{ url_for('static', filename='images/facebook.png') }}" style="height:30px; width:30px;"/></td>
			<td ><a style="text-decoration: none;" href="https://www.facebook.com/lanterlite"><font face="lanterlite_cambria" size=4px color="#FFFCC9">Facebook</font></td>
			<!-- <td><a class="twitter-timeline" data-width="300" data-height="400" data-dnt="true" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/lanterlite">Tweets by lanterlite</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></td> -->
		</tr>
		<tr>
			<td height="2px"></td>
			<td></td>
			<td width="20px"><img src="{{ url_for('static', filename='images/twitter.png') }}" style="height:30px; width:30px;"/></td>
			<td ><a style="text-decoration: none;" href="https://www.twitter.com/lanterlite"><font face="lanterlite_cambria" size=4px color="#FFFCC9">Twitter</font></td>
		</tr>
		</div>
		<tr>
			<td></td>
			<td height="20px"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td height="1px" ><font face="lanterlite_cambria" size=10px color="#FFFCC9">Lanterlite</font></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td height="1px" ><font face="lanterlite_cambria" size=4px color="#FFFCC9">Lantern Light, Islam Technological Enlightenment</font></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="20px" ></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="20px" ></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="20px" ></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="20px" ></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<!--
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		-->
		<!-- <tr> -->
			<!-- <td><img src="{{ url_for('static', filename='images/mp03.png') }}" style="height:175px; width:305px;"/></td> -->
		<!-- </tr> -->
		</tbody>
		</table>
	</div>
	
	<div id="home-post-bottom">
		<!-- <table cellpadding="17px"> -->
		<table cellpadding="0px">
		<thead>
		
		<tr>
			<!-- <th rowspan="5"><font color="black" style="font-family:calibri; font-size:20px;">Topik Lainnya<font></th> -->
			<td align="center" colspan="5" width=40px height=10px><font color=#A0522D size=5px style="font-family:'lanterlite_impact';"><b>
			------------------------------------------------------------ Coming Soon -------------------------------------------------------------
			</b></font></td>
			<!--
			<td width=40px ></td>
			<td width=40px ></td>
			<td width=40px ></td>
			<td width=40px ></td>
			-->
		</tr>			
		</thead>
		<tbody>
		<tr>
			<td style="padding: 16px 16px 0px 16px;"><img src="{{ url_for('static', filename='images/charisma_app.png') }}" style="height:100px; width:178px;"/></td>
			<td style="padding: 16px 16px 0px 16px;"><img src="{{ url_for('static', filename='images/smart_partner.png') }}" style="height:100px; width:178px;"/></td>
			<td style="padding: 16px 16px 0px 16px;"><img src="{{ url_for('static', filename='images/quarpp_app.png') }}" style="height:100px; width:178px;"/></td>
			<td style="padding: 16px 16px 0px 16px;"><img src="{{ url_for('static', filename='images/machinary_online.png') }}" style="height:100px; width:178px;"/></td>
			<td style="padding: 16px 16px 0px 16px;"><img src="{{ url_for('static', filename='images/giora_app.png') }}" style="height:100px; width:178px;"/></td>
		</tr>
		<tr>
			<td align="center"><font color=#A0522D size=4px style="font-family:'lanterlite_cambria';"><b>Lanterlite Charisma</b></font></td>
			<td align="center"><font color=#A0522D size=4px style="font-family:'lanterlite_cambria';"><b>Lanterlite SmartPartner</b></font></td>
			<td align="center"><font color=#A0522D size=4px style="font-family:'lanterlite_cambria';"><b>Lanterlite Quarpp</b></font></td>
			<td align="center"><font color=#A0522D size=4px style="font-family:'lanterlite_cambria';"><b>Lanterlite Machinary</b></font></td>
			<td align="center"><font color=#A0522D size=4px style="font-family:'lanterlite_cambria';"><b>Lanterlite Giora</b></font></td>
		</tr>
		</tbody>
		</table>
	</div>

		<div id="home-post-footer">
			<table cellpadding="0px">
			<thead>
			<tr>
				<td rowspan="5"><font color="#FFFCC9" style="font-family:'lanterlite_impact'; font-size:20px;">Tentang Lanterlite<font></td>
			</tr>			
			</thead>
			<tbody>
			<tr>
				<td><font color=#FFFCC9 style="font-family:'lanterlite_constantia';">Saran dan masukkan, bisa pembaca sampaikan melalui email kami di <i>lanterlite@gmail.com</i>.</font></td>
			</tr>
			</tbody>
			</table>
		</div>

		<div id="home-post-footest">
			<font color="#C2A060">- Designed by Lanterlite -</font>
		</div>
		<script>
		var slideIndex = 0;
		showSlides();

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			for (i = 0; i < slides.length; i++) {
			   slides[i].style.display = "none";  
			}
			slideIndex++;
			if (slideIndex> slides.length) {slideIndex = 1}    
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex-1].style.display = "block";  
			dots[slideIndex-1].className += " active";
			setTimeout(showSlides, 3000); 
		}
	</script>

	</body>
</html> 