	<style>
		#daftar a:link {text-decoration: none; color: rgb(205,133,63);}
		#daftar a:visited {text-decoration: none; color: green;}
		#daftar a:hover {text-decoration: none; color: rgb(244,164,96);}
		#daftar a:active {text-decoration: none; color: blue;}
	</style>

<div id="daftar">
	
<p align="justify" style="font-family:constantia;">		

&emsp; Assalamu'alaikum warahmatullah wabarakaatuh,</br>

&emsp; Semoga pembaca selalu dalam keadaan sehat. Di sini, saya akan membagikan mp3 yang bermanfaat untuk didengarkan,&nbsp;yaitu&nbsp;<b>mp3 tentang kajian islam oleh ust. Khalid Basalamah</b>. Beliau melaksanakan pendidikan menengah pertama (SMP) di Mesir, lalu melanjutkan ke jenjang SMA dan kuliah Strata-1 di Madinah. Beliau banyak memberikan kajian di antaranya tentang sirah nabawiyah (sejarah Nabi Muhammad Saw), kisah para sahabat Nabi Saw (Abu Bakr r.a., Umar r.a. Utsman r.a. Ali r.a., dlsb), kajian kitab bulughul maram, mahkota pengantin (kajian tentang rumah tangga), minhajul muslim, dan lain sebagainya.</br>

&emsp; Pembaca bisa menemukan kajian-kajian beliau di website <a href="http://khalidbasalamah.com/">khalidbasalamah.com</a> yang videonya sebagian besar dapat dilihat di YouTube dengan channel <a href="https://www.khalidbasalamah.com/">Khalid Basalamah</a> dengan gambar profil bertuliskan "KH-B" dengan background berwarna ungu. Pada facebook, pembaca dapat melihat info lebih lengkap tentang kajian beliau dengan nama page <a href="http://facebook.com/ustadzkhalid">facebook.com/ustadzkhalid</a>. Pada twitter, pembaca juga dapat&nbsp;menemukan akun resmi beliau dengan username @ustadzkhalid.</br>

&emsp; Berikut kajian-kajian mp3 beliau yang dapat pembaca unduh:</br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Kisah Sahabat Nabi Saw:</b></font>
<p style="font-family:constantia;">
<a href="http://www.4shared.com/zip/rPPCZgYYba/Kisah_Sahabat_Nabi_Saw_Ke-1_Ab.html">Kisah Sahabat Nabi Saw Ke-1 Abu Bakr r.a. (143.5 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/UlnPlp14ba/Kisah_Sahabat_Nabi_Saw_Ke-2_Um.html">Kisah Sahabat Nabi Saw Ke-2 Umar bin Khattab r.a. (174.5 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/5aIA9Grvce/Kisah_Sahabat_Nabi_Saw_Ke-3_Ut.html">Kisah Sahabat Nabi Saw Ke-3 Utsman bin Affan r.a. (107.7 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/ANtim8mjba/Kisah_Sahabat_Nabi_Saw_Ke-4_Al.html">Kisah Sahabat Nabi Saw Ke-4 Ali bin Abi Thalib r.a. (122.6 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/pdVaPcBWba/Kisah_Sahabat_Nabi_Saw_Ke-5_Ta.html">Kisah Sahabat Nabi Saw Ke-5 Thalhah bin Ubaidillah r.a. (77.2 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/9_Wx42a0ce/Kisah_Sahabat_Nabi_Saw_Ke-6_Zu.html">Kisah Sahabat Nabi Saw Ke-6 Zubair bin Awwam r.a. (82.2 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/CkZdk3R4ce/Kisah_Sahabat_Nabi_Saw_Ke-7_Ab.html">Kisah Sahabat Nabi Saw Ke-7 Abdurrahman bin Auf r.a. (90.6 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/Pwrqz-ESba/Kisah_Sahabat_Nabi_Saw_Ke-8_Sa.html">Kisah Sahabat Nabi Saw Ke-8 Sa'ad bin Abi Waqqas r.a. (101.1 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/rlsjsoTQba/Kisah_Sahabat_Nabi_Saw_Ke-9_Sa.html">Kisah Sahabat Nabi Saw Ke-9 Sa'id bin Zaid r.a. (54.7 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/rn7Txu2lce/Kisah_Sahabat_Nabi_Saw_Ke-10_A.html">Kisah Sahabat Nabi Saw Ke-10 Abu Ubaidah bin Jarrah r.a. (87.5 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/r4bQUzLHce/Kisah_Sahabat_Nabi_Saw_Ke-11_S.html">Kisah Sahabat Nabi Saw Ke-11 Suhaib Ar-Rumi r.a. (64.1 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/mjm_fOAhce/Kisah_Sahabat_Nabi_Saw_Ke-12_S.html">Kisah Sahabat Nabi Saw Ke-12 Salim maula Abi Khudzaifah r.a. (49.5 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/uEKX-rNLce/Kisah_Sahabat_Nabi_Saw_Ke-13_M.html">Kisah Sahabat Nabi Saw Ke-13 Mus'ab bin Umair r.a. (51.8 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/x_oQBy1mba/Kisah_Sahabat_Nabi_Saw_Ke-14_Z.html">Kisah Sahabat Nabi Saw Ke-14 Zaid bin Tsabit r.a. (66.7 Mb) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/Zam_ArkCce/Kisah_Sahabat_Nabi_Saw_Ke-15_A.html">Kisah Sahabat Nabi Saw Ke-15 Anas bin Malik&nbsp;r.a. (64.2 Mb) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/_6PLJ4toce/Kisah_Sahabat_Nabi_Saw_Ke-16_K.html">Kisah Sahabat Nabi Saw Ke-16 Khabab bin Al Arat r.a. (78.3 Mb) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/VOaWPexqba/Kisah_Sahabat_Nabi_Saw__Releas.html">Full Kajian Kisah Sahabat Nabi Saw (1.25 Gb) - Release on 2017-01-12</a></br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Mahkota Pengantin:</b></font>
<p style="font-family:constantia;">
<a href="http://www.4shared.com/zip/dUKNoaJjce/Mahkota_Pengantin__Kajian_Ke-1.html">Mahkota Pengantin (Kajian Ke-1) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/eU80MQLVba/Mahkota_Pengantin__Kajian_Ke-2.html">Mahkota Pengantin (Kajian Ke-2) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/2Z93HC4nba/Mahkota_Pengantin__Kajian_Ke-3.html">Mahkota Pengantin (Kajian Ke-3) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/yFO0ofMzce/Mahkota_Pengantin__Kajian_Ke-4.html">Mahkota Pengantin (Kajian Ke-4) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/U7kfYeQsce/Mahkota_Pengantin__Kajian_Ke-5.html">Mahkota Pengantin (Kajian Ke-5) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/jd-TzguSba/Mahkota_Pengantin__Kajian_Ke-6.html">Mahkota Pengantin (Kajian Ke-6) - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/5fSTt7v6ce/Mahkota_Pengantin__Kajian_Ke-7.html">Mahkota Pengantin (Kajian Ke-7) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/1OWq-Sovba/Mahkota_Pengantin__Kajian_Ke-8.html">Mahkota Pengantin (Kajian Ke-8) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/RoQQmlL4ce/Mahkota_Pengantin__Kajian_Ke-9.html">Mahkota Pengantin (Kajian Ke-9) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/78Xi9S8uba/Mahkota_Pengantin__Kajian_Ke-1.html">Mahkota Pengantin (Kajian Ke-10) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/fmX_Fa7nba/Mahkota_Pengantin__Release_on_.html">Full Kajian Mahkota Pengantin (255.0 Mb) - Release on 2017-01-12</a></br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Rasulullah Saw Bercerita tentang Neraka:</b></font></br>
<p style="font-family:constantia;">
<a href="http://www.4shared.com/zip/myNujpm4ce/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-1) - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/qMkHMwFVba/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-2) - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/n66MxZG7ce/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-3) - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/F1m7E3v9ba/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-4) - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/PtIQ2ffJba/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-6) - Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/WKPnMzUFce/Rasulullah_Saw_Bercerita_tenta.html">Full Rasulullah Saw Bercerita tentang Neraka (233.8 Mb) - Release on 2017-01-12</a></br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Rasulullah Saw Bercerita tentang Surga:</b></font>
<p style="font-family:constantia;">
<a href="http://www.4shared.com/zip/6G9EulI6ce/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Surga (Kajian Ke-1)&nbsp;- Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/obsgh8Bhce/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Surga (Kajian Ke-2)&nbsp;- Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/xNU5-Yi1ba/Rasulullah_Saw_Bercerita_Tenta.html">Rasulullah Saw Bercerita Tentang Surga (Kajian Ke-3)&nbsp;- Release on 2017-01-18</a></br>
<a href="http://www.4shared.com/zip/jYK1TY3Wce/Rasulullah_Saw_Bercerita_Tenta.html">Full Rasulullah Saw Bercerita tentang&nbsp;Surga (235.6 Mb) - Release on 2017-01-18</a></br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Khutbah Jum'at:</b></font>
<p style="font-family:constantia;">
<a href="http://www.4shared.com/zip/-TeAW_pcce/Khutbah_Jumat_-_Hidup_Mulia_de.html">Khutbah Jum'at - Hidup Mulia dengan Islam - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/eSvqODnGba/Khutbah_Jumat_-_Idolaku_adalah.html">Khutbah Jum'at - Idolaku adalah Muhammad Saw, Siapa Idola Anda - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/66SEVhXbce/Khutbah_Jumat_-_Janganlah_Berd.html">Khutbah Jum'at - Janganlah Berdusta, Janganlah Berbohong! - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/N2Q-DgzTba/Khutbah_Jumat_-_Keutamaan_Hari.html">Khutbah Jum'at - Keutamaan Hari Jum'at dan Shalat Jum'at - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/96IosaTkba/Khutbah_Jumat_-_Kunci_Sukses_D.html">Khutbah Jum'at - Kunci Sukses Dunia &amp; Akhirat - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/AVJptq9kba/Khutbah_Jumat_-_Memahami_Rizki.html">Khutbah Jum'at - Memahami Rizki - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/sYmfyQkSba/Khutbah_Jumat_-_Mutiara-mutiar.html">Khutbah Jum'at - Mutiara-mutiara setelah Ramadhan - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/e1liYzRIce/Khutbah_Jumat_-_Persaudaraan_I.html">Khutbah Jum'at - Persaudaraan Islam - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/5aFIA9HCba/Khutbah_Jumat_-_Sejenak_Bersam.html">Khutbah Jum'at - Sejenak Bersama Al-Qur'an - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/h78Fnurjba/Khutbah_Jumat_-_Wahai_Muslim_I.html">Khutbah Jum'at - Wahai Muslim, Inilah Pondasi Agamamu! - Release on 2017-01-13</a></br>
<a href="http://www.4shared.com/zip/9EGz6DHKce/Khutbah_Jumat__Release_on_2017.html">Full Khutbah Jum'at (179.0 Mb) - Release on 2017-01-12</a></br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Dosa Besar:</b></font>
<p style="font-family:constantia;">
<a href="http://www.4shared.com/zip/p0O2h6KNba/Dosa_Besar_Ke-1_Syirik__Menyek.html">Dosa Besar Ke-1 Syirik (Menyekutukan Allah) - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/YRd_Tahrba/Dosa_Besar_Ke-2_Membunuh_Tanpa.html">Dosa Besar Ke-2 Membunuh Tanpa Alasan yang Dibenarkan - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/iFmha-4Lba/Dosa_Besar_Ke-3_Berbuat_Sihir_.html">Dosa Besar Ke-3 Berbuat Sihir - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/DVl7x-LRce/Dosa_Besar_Ke-4_Meninggalkan_S.html">Dosa Besar Ke-4 Meninggalkan Shalat -&nbsp;Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/fpFM8YW0ba/Dosa_Besar_Ke-5_Tidak_Membayar.html">Dosa Besar Ke-5 Tidak Membayar Zakat - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/3dIBHgoUce/Dosa_Besar_Ke-6_Durhaka_Kepada.html">Dosa Besar Ke-6 Durhaka Kepada Kedua Orang Tua - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/wGFcJXNEce/Dosa_Besar_Ke-7_Memakan_Riba__.html">Dosa Besar Ke-7 Memakan Riba - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/eqHDTLoHce/Dosa_Besar_Ke-8_Memakan_Harta_.html">Dosa Besar Ke-8 Memakan Harta Anak Yatim secara Dzalim - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/6W2NZkHYce/Dosa_Besar_Ke-9_Berdusta_Atas_.html">Dosa Besar Ke-9 Berdusta Atas Nama Rasulullah Saw - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/444xfln3ce/Dosa_Besar_Ke-10_Tidak_Berpuas.html">Dosa Besar Ke-10 Tidak Berpuasa Ramadhan Tanpa Udzur - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/to7XTLdHce/Dosa_Besar_Ke-11_Melarikan_Dir.html">Dosa Besar Ke-11 Melarikan Diri dari Pertempuran - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/1TR1IHuEce/Dosa_Besar_Ke-13_Pemimpin_yg_B.html">Dosa Besar Ke-13 Pemimpin yg Berkhianat, Kejam, dan Bengis kpd Rakyatnya - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/gWB4gnvxba/Dosa_Besar_Ke-14_Meminum_Khame.html">Dosa Besar Ke-14 Meminum Khamer atau yg Memabukkan Meskipun Sedikit - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/rhrpl-QOba/Dosa_Besar_Ke-15_Sombong_Bangg.html">Dosa Besar Ke-15 Sombong, Bangga Diri, Angkuh, Ujub, dan Congkak - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/EgItkcCOba/Dosa_Besar_Ke-17_Homoseksual__.html">Dosa Besar Ke-17 Homoseksual - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/ylInUHAHce/Dosa_Besar_Ke-18_Menuduh_Wanit.html">Dosa Besar Ke-18 Menuduh Wanita Baik-Baik Melakukan Zina - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/_OY9GL2Dce/Dosa_Besar_Ke-19_Berkhianat_Me.html">Dosa Besar Ke-19 Berkhianat Mengambil Harta Ghanimah, Baitul Mal, dan Zakat&nbsp;- Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/w3ajOy5pba/Dosa_Besar_Ke-20_Berbuat_Zalim.html">Dosa Besar Ke-20 Berbuat Zalim Dengan Mengambil Harta Orang Lain Secara Zalim - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/gpuF7ks0ce/Dosa_Besar_Ke-21_Mencuri__Rele.html">Dosa Besar Ke-21 Mencuri - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/zufYw1gBba/Dosa_Besar_Ke-23_Sumpah_Dusta_.html">Dosa Besar Ke-23 Sumpah Dusta - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/tQGuWDVHba/Dosa_Besar_Ke-24_Gemar_Berkata.html">Dosa Besar Ke-24 Gemar Berkata Bohong - Release on 2017-01-16
<a href="http://www.4shared.com/zip/rCNTnV14ce/Dosa_Besar_Ke-25_Bunuh_Diri__R.html">Dosa Besar Ke-25 Bunuh Diri - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/3v_87Gzuce/Dosa_Besar_Ke-26_Hakim_yang_Ja.html">Dosa Besar Ke-26 Hakim yang Jahat - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/rPWWdHwwba/Dosa_Besar_Ke-27_Membiarkan_Pe.html">Dosa Besar Ke-27 Membiarkan Perbuatan Keji pada Istrinya - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/d7ioV2DXce/Dosa_Besar_Ke-28_Dosa_Besar_Pe.html">Dosa Besar Ke-28 Dosa Besar Perempuan Menyerupai Laki-Laki &amp; Sebaliknya - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/Vdwd5f7Jba/Dosa_Besar_Ke-29_Al_Muhalil_Al.html">Dosa Besar Ke-29 Al Muhalil Al Muhalallahu - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/Fp-23dydba/Dosa_Besar_Ke-30_Makan_Bangkai.html">Dosa Besar Ke-30 Makan Bangkai, Darah, &amp; Daging Babi - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/aovegzlxce/Dosa_Besar_Ke-41_Membenarkan_D.html">Dosa Besar Ke-41 Membenarkan Dukun dan Ahli Nujum - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/3V-2n_34ba/Dosa_Besar_Ke-42_Istri_Membang.html">Dosa Besar Ke-42 Istri Membangkang Suami - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/cgSasAkQce/Dosa_Besar_Ke-43_Memutuskan_Hu.html">Dosa Besar Ke-43 Memutuskan Hubungan Silaturahim - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/PuRzZPqIce/Dosa_Besar_Ke-46_Meratapi_Mayi.html">Dosa Besar Ke-46 Meratapi Mayit Ketika Tertimpa Musibah Kematian Keluarganya - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/2GLviOVhce/Dosa_Besar_Ke-48_Melampuai_Bat.html">Dosa Besar Ke-48 Melampuai Batas dan Berbuat Kerusakan - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/M5KsP7-_ce/Dosa_Besar_Ke-49_Memberontak_d.html">Dosa Besar Ke-49 Memberontak dan Mengkafirkan karena Dosa Besar - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/i6v0Ixh-ce/Dosa_Besar_Ke-50_Menyakiti_Kau.html">Dosa Besar Ke-50 Menyakiti Kaum Muslimin - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/_upyOrGFce/Dosa_Besar_Ke-51_Menyakiti_Par.html">Dosa Besar Ke-51 Menyakiti Para Kekasih Allah dan Memusuhi Mereka - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/GfW3JnyEba/Dosa_Besar_Ke-52_Menjulurkan_P.html">Dosa Besar Ke-52 Menjulurkan Pakaian Sampai ke Mata Kaki, Isbal - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/b9PjXR8bce/Dosa_Besar_Ke-54_Budak_yang_Me.html">Dosa Besar Ke-54 Budak yang Melarikan Diri Dari Tuannya - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/SYxx6ga0ba/Dosa_Besar_Ke-57_Mencela_Para_.html">Dosa Besar Ke-57 Mencela Para Sahabat Nabi - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/F92PAUeSba/Dosa_Besar_Ke-59_Mengajak_Kepa.html">Dosa Besar Ke-59 Mengajak Kepada Kesesatan - Release on 2017-01-16</a></br>
<a href="http://www.4shared.com/zip/iiDGY9ZEce/Dosa_Besar_Ke-63_Tiyarah__Rele.html">Dosa Besar Ke-63 Tiyarah - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/bW3S98Mrce/Dosa_Besar_Ke-66_Mengebiri_Ham.html">Dosa Besar Ke-66 Mengebiri Hamba Sahaya atau Menyiksanya - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/skm-xzlyba/Dosa_Besar_Ke-67_Mengurangi_Ti.html">Dosa Besar Ke-67 Mengurangi Timbangan Dan Takaran dalam Jual Beli - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/1FM2SJz9ba/Dosa_Besar_Ke-68_Merasa_Aman_d.html">Dosa Besar Ke-68 Merasa Aman dari Ancaman Hukuman Allah SWT - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/xEp5VjkEce/Dosa_Besar_Ke-69_Putus_Asa_Dar.html">Dosa Besar Ke-69 Putus Asa Dari Rahmat Allah SWT - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/aVzkcC-cba/Dosa_Besar_Ke-70_Mengingkari_P.html">Dosa Besar Ke-70 Mengingkari Perbuatan Orang Lain Kepadanya - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/hzFovDVxce/Dosa_Besar_Ke-71_Menahan_Keleb.html">Dosa Besar Ke-71 Menahan Kelebihan Air - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/ISggSADTba/Dosa_Besar_Ke-72_Mengecap_Hewa.html">Dosa Besar Ke-72 Mengecap Hewan Ternak Dengan Besi Panas - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/uXCI8Fubba/Dosa_Besar_Ke-73_Berjudi_atau_.html">Dosa Besar Ke-73 Berjudi atau Mengundi Nasib - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/ygQ8cd7Yce/Dosa_Besar_Ke-76_Memata-matai_.html">Dosa Besar Ke-76 Memata-matai Kaum Muslimin dan Menyebarkan Aib Mereka - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/uIn-UB79ba/Dosa_Besar_Ke-77_Tidak_Mengiku.html">Dosa Besar Ke-77 Tidak Mengikuti dan Mencontohi Nabi Muhammad Saw. - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/8H1jHvUAce/Dosa_Besar_Ke-78_Tidak_Menging.html">Dosa Besar Ke-78 Tidak Mengingkari Kemungkaran - Release&nbsp;on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/HlfAlzcvba/Dosa_Besar_Ke-79_Tidak_Taat_Ke.html">Dosa Besar Ke-79 Tidak Taat Kepada Pemimpin - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/x81vkrXuba/Dosa_Besar_Ke-80_Dosa-Dosa_yan.html">Dosa Besar Ke-80 Dosa-Dosa yang Diancam Diazab di Dalam Kubur - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/yiKJDSKjce/Dosa_Besar_Ke-81_Tolong_Menolo.html">Dosa Besar Ke-81 Tolong Menolong Dalam Kemaksiatan - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/Yc9KBcfPba/Dosa_Besar_Ke-82_Memisahkan_de.html">Dosa Besar Ke-82 Memisahkan dengan Teman yang Lain - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/bkqx_QbYba/Dosa_Besar_Ke-83_Berkata_Kotor.html">Dosa Besar Ke-83 Berkata Kotor dan Kasar serta Bersikap Keras Bukan pada Tempatnya - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/D8_ZSYyTba/Dosa_Besar_Ke-84_Berbuat_Buruk.html">Dosa Besar Ke-84 Berbuat Buruk Kepada Orang Lain - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/y6KNYV1-ba/Dosa_Besar_Ke-85_Tidak_Menjaga.html">Dosa Besar Ke-85 Tidak Menjaga Lisan - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/pC3uoaXfba/Dosa_Besar_Ke-86_Menjadikan_Or.html">Dosa Besar Ke-86 Menjadikan Orang Munafik Sebagai Pemimpin atau Teman - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/JP21TtP9ce/Dosa_Besar_Ke-88_Tidak_Pergi_H.html">Dosa Besar Ke-88 Tidak Pergi Haji, Padahal Mampu (Fisik Maupun Finansial) - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/yL_mLbVBce/Dosa_Besar_Ke-89_Memisahkan_An.html">Dosa Besar Ke-89 Memisahkan Antara Orang Tua dengan Anaknya - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/1dZApIcMce/Dosa_Besar_Ke-95_Menggauli_Ist.html">Dosa Besar Ke-95 Menggauli Istri Masuk ke Dubur atau Menggauli Istri ke Kemaluan pada Saat Haid - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/kAdLgg1Jba/Dosa_Besar_Ke-96_Mengintip__Re.html">Dosa Besar Ke-96 Mengintip - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/slX4rbQwce/Dosa_Besar_Ke-97_Berlebih-lebi.html">Dosa Besar Ke-97 Berlebih-lebihan Dalam beragama (Ghuluw) - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/2h9kbGUcba/Dosa_Besar_Ke-98_Menolak_Mener.html">Dosa Besar Ke-98 Menolak Menerima Sumpah Atas Nama Allah - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/YXp-DuRjba/Dosa_Besar_Ke-99_Pelit_Kikir_B.html">Dosa Besar Ke-99 Pelit, Kikir, Bakhil - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/uXkH7geXba/Dosa_Besar_Ke-100_Duduk_Menyen.html">Dosa Besar Ke-100 Duduk Menyendiri di Tengah-Tengah Halaqah - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/gEDvqlr2ba/Dosa_Besar_Ke-101_Iri_dan_Deng.html">Dosa Besar Ke-101 Iri dan Dengki - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/wHbc_tmcba/Dosa_Besar_Ke-102_Memutus_Sutr.html">Dosa Besar Ke-102 Memutus Sutrah Orang yang Sedang Shalat - Release on 2017-02-16</a></br>
<a href="http://www.4shared.com/zip/gDsK93Kbba/Dosa_Besar_Ke-106_Tidak_Menjaw.html">Dosa Besar Ke-106 Tidak Menjawab Salam - Release on 2017-02-16</a></br>
Full Kajian Dosa-dosa besar 
</p>


<p align="justify" style="font-family:constantia;">		

&emsp; Postingan ini insyaa Allah akan terus up-to-date mengenai kajian mp3,&nbsp;pembaca bisa melihat dari tanggal <i>release</i> yang tertera pada file. Apabila terdapat kritik, saran, masukkan atau terdapat link yang rusak atau bermasalah, silakan pembaca bisa memberitahu kami via email: <font color="#CD853F" style="font-family:constantia;"><b>lanterlite@gmail.com</b></font>. Terimakasih, semoga bermanfaat.</br>

&emsp; Wassalamu'alaikum warahmatullah wabarakaatuh.
</p>
</div>
	
	
	<!-- ********************************************************************** -->
		
	
<div id="daftar">
<p align="justify" style="font-family:constantia;">		
	
&emsp; Assalamu'alaikum warahmatullah wabarakaatuh,</br>

&emsp; Pada postingan ini saya ingin membagikan software-software dengan&nbsp;lisensi gratis. Mungkin untuk anda yang sudah memiliki penghasilan sendiri dan pendapatannya mencukupi, sudah bisa menggunakan software-software dengan lisensi berbayar. Namun, untuk sebagian orang yang masih belum memilki penghasilan sendiri atau pendapatannya belum mencukupi, saya sarankan untuk menggunakan software-software dengan lisensi gratis terlebih dahulu. Mengapa software gratis?&nbsp;Untuk para pembaca yang beragama Islam (khususnya), pasti sudah mengetahui yang namanya pembajakan software itu merupakan tindakan yang haraam. Karena itu merupakan perilaku yang menyimpang dari hukum pemerintah dan merugikan salah satu pihak. Sehingga apabila kita menggunakan software bajakan tersebut, penghasilan yang kita dapatkan menggunakan fasilitas tersebut akan menjadi haraam. Sudah pasti, kita tidak mengharapkan satu pun zat yang haraam masuk ke dalam tubuh kita.</br>

&emsp; Oleh karena itu, di sini saya akan membagikan link download dari software-software yang berlisensi gratis. Meskipun software-software ini berlisensi gratis, namun dari sisi fitur, tidak kalah lengkap dengan software-software berlisensi berbayar. Bahkan apabila kita sudah terbiasa menggunakannya dan menguasai seluruh fiturnya, bisa dikatakan software tersebut justru lebih nyaman digunakan dibandingkan dengan software yang berlisensi berbayar.</br>

&emsp; Berikut adalah software berlisensi gratis yang bisa pembaca unduh:</br>
</p>

<p style="font-family:constantia;">
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26V2NzbHBtS2xxQU0">Software Lisensi Gratis Ke-1 GIMP 2.8.16 Windows x64 Alternatif dari Adobe Photoshop (Image Editor)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26bkZHblFXWGRDT0k">Software Lisensi Gratis Ke-2 InkScape 0.91 Windows x64 Alternatif dari Corel Draw (Drawing Tool)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26Qng1dnpqX2JDME0">Software Lisensi Gratis Ke-3 VSDC Windows x64 Alternatif dari Adobe After Effect dan Bandicam (Video Editor&nbsp;&amp; Recorder)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26bWp6SFpaY2JBYW8">Software Lisensi Gratis Ke-4 OpenOffice 4.1.2 Windows x86 x64 Alternatif dari Microsoft Office (Office Tools)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26NDZzaDdPa1ZPdTg">Software Lisensi Gratis Ke-5 Notepad++ 6.9 Windows x64 Alternatif dari Sublime (Text Editor)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26dkZGdHZrN0FwN1E">Software Lisensi Gratis Ke-6 NetBeans 8.1 Windows x64 Alternatif dari Visual Studio (IDE)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26cG0xQkNTYklFVk0">Software Lisensi Gratis Ke-7 Audacity 1.3 Windows x86 x64 Alternatif dari Sony Sound Forge (Sound Editor&nbsp;&amp; Recorder)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26X1lyUFhDSXk1MTA">Software Lisensi Gratis Ke-8 Aegisub 3.2.2 (Portable) Windows x64 (Subtitler Maker)</a></br>
<a href="https://drive.google.com/open?id=0B2wLDyb6eU26bUZvSTdXbGlDT2s">Software Lisensi Gratis Ke-9 Advanced Renamer (Files and Folders Renamer)</a></br>
</p>

<p align="justify" style="font-family:constantia;">		

&emsp; Sekian beberapa software berlisensi gratis beserta informasinya yang bisa saya bagikan di sini. Insyaa Allah saya akan terus update perkembangannya. Apabila terdapat kritik, saran, masukkan, atau sekiranya terdapat link yang rusak atau bermasalah, silakan untuk melaporkan/ menginformasikannya kepada kami melalui email <font color="#CD853F" style="font-family:constantia;"><b>lanterlite@gmail.com</b></font>. Intinya,&nbsp;pastikan halal apa yang kita perjuangkan, maka Allah akan mengurus sisanya dengan Maha Keadilan-Nya. Terimakasih.</br>

&emsp; Wassalamu'alaikum warahmatullah wabarakaatuh.
</p>

</div>
