	<style>
		#daftar a:link {text-decoration: none; color: rgb(205,133,63);}
		#daftar a:visited {text-decoration: none; color: green;}
		#daftar a:hover {text-decoration: none; color: rgb(244,164,96);}
		#daftar a:active {text-decoration: none; color: blue;}		
	</style>
 
	<font color="#CD853F" style="font-family:constantia;"><b>S</b></font>
	<div id="daftar">
		<p style="font-family:constantia;">
		<a href="http://lanterlite.blogspot.co.id/2017/03/abu-bakr-ra.html">Spring MVC Framework</a></br>
		</p>
	</div>