	<style>
	#ul-content {
	    list-style-type: circle;
		background-color: white;
		padding-left: 20px;
		overflow: hidden;
	}

	#footer  li { 
		font-family: constantia;
	}
 	</style>

	<div id="footer"align="justify">
		<p style="font-family:Constantia; font-size:15px;">
			<b>Tema</b>: Istilah dalam Teknologi</br>
			<b>Penulis</b>: Ifan Ramadhani</br>
		</p>
		
		<font color="#CD853F" style="font-family:constantia;"><b>G</b></font>
		<ul id="ul-content">
			<li><b>Generalisasi</b>, sesuatu yang jelas, pasti, namun ada pengecualian untuk beberapa kasus tertentu. Contoh: "semua logam pada suhu kamar wujudnya padat." Setelah diteliti ternyata ada merkuri atau raksa yg wujudnya cair, maka ini disebut generalisasi karena ada pengecualian namun hanya sebagian kecil saja karena umumnya padat.</li>
		</ul>

		<font color="#CD853F" style="font-family:constantia;"><b>K</b></font>
		<ul id="ul-content">
			<li><b>Konsep</b>, sekumpulan fakta yang memiliki ciri-ciri khusus yang sama atau arti lainnya ide abstrak untuk menggolongkan atau mengklasifikasikan sekumpulan objek/ fakta. Konsep dibagi dua: Konsep abstrak (bilangan ganjil, genap) dan Konsep konkrit (penggaris, kursi, logam). Misalnya besi dan tembaga membentuk konsep (konkrit) yang namanya logam, karena besi dan tembaga memiliki ciri khusus yang sama yaitu dapat menghantarkan arus listrik sehingga disebut logam.</li>
		</ul>

		<font color="#CD853F" style="font-family:constantia;"><b>O</b></font>
		<ul id="ul-content">
			<li><b>Objektif</b></li>
			<ul id="ul-content">
				<li>definisi 1: keadaan dimana sesuatu hal diputuskan berdasarkan data yang jelas, akurat, dan bisa dipertanggung jawabkan.</li>
				<li>definisi 2: tujuan, sasaran.</li>
			</ul>
		</ul>

		<font color="#CD853F" style="font-family:constantia;"><b>P</b></font>
		<ul id="ul-content">
			<li><b>Prinsip</b>, sesuatu yang jelas, pasti, tanpa ada pengecualian. Contoh: "logam adalah penghantar listrik yang baik." Ini disebut prinsip dikarenakan tidak ada pengecualian.</li>
			<li><b>Pola (pattern)</b>, sesuatu yang berulang dan memiliki kesamaan dalam hal tertentu.</li>
		</ul>
		
		<font color="#CD853F" style="font-family:constantia;"><b>S</b></font>
		<ul id="ul-content">
			<li><b>Subjektif</b>, keadaan dimana sesuatu hal diputuskan berdasarkan pendapat/ penilaian orang secara pribadi.</li>
		</ul>
	</div>

