	<style>
		#daftar a:link {text-decoration: none; color: rgb(205,133,63);}
		#daftar a:visited {text-decoration: none; color: green;}
		#daftar a:hover {text-decoration: none; color: rgb(244,164,96);}
		#daftar a:active {text-decoration: none; color: blue;}
		
		.codebox {
			border:1px solid black;
			background-color:#EEEEFF;
			width:750px;
			overflow:auto;    
			padding:10px;
		}
		.codebox code {
			font-size:0.9em;
		}
	</style>

	<p style="font-family:constantia;"><font color="#0000FF"><b>Muhajirin</b></br></font></p> 
	<div id="daftar">
		<p style="font-family:constantia;">
		01. <a href="http://lanterlite.blogspot.co.id/2017/03/abu-bakr-ra.html">Abu Bakr ra.</a></br>
		02. <a href="http://lanterlite.blogspot.co.id/2017/03/umar-bin-khattab-ra.html">'Umar bin Khattab ra.</a></br>
		03. <a href="http://lanterlite.blogspot.co.id/2017/03/utsman-bin-affan-ra.html">'Utsman bin Affan ra.</a></br>
		04. <a href="http://lanterlite.blogspot.co.id/2017/03/ali-bin-abi-thalib-ra.html">'Ali bin Abi Thalib ra.</a></br>
		</p>
	</div>

