	<style>
		#daftar a:link {text-decoration: none; color: rgb(205,133,63);}
		#daftar a:visited {text-decoration: none; color: green;}
		#daftar a:hover {text-decoration: none; color: rgb(244,164,96);}
		#daftar a:active {text-decoration: none; color: blue;}
	</style>

<div id="daftar">
	
<p align="justify" style="font-family:constantia;">		

<font color="#CD853F" style="font-family:constantia;"><b>Kisah Sahabat Nabi Saw:</b></font>
<p style="font-family:constantia;">
Kisah Sahabat Nabi Saw Ke-1 Abu Bakr r.a.</br>
Kisah Sahabat Nabi Saw Ke-2 Umar bin Khattab r.a.</br>
Kisah Sahabat Nabi Saw Ke-3 Utsman bin Affan r.a.</br>
Kisah Sahabat Nabi Saw Ke-4 Ali bin Abi Thalib r.a.</br>
Kisah Sahabat Nabi Saw Ke-5 Thalhah bin Ubaidillah r.a.</br>
Kisah Sahabat Nabi Saw Ke-6 Zubair bin Awwam r.a.</br>
Kisah Sahabat Nabi Saw Ke-7 Abdurrahman bin Auf r.a.</br>
Kisah Sahabat Nabi Saw Ke-8 Sa'ad bin Abi Waqqas r.a.</br>
Kisah Sahabat Nabi Saw Ke-9 Sa'id bin Zaid r.a.</br>
Kisah Sahabat Nabi Saw Ke-10 Abu Ubaidah bin Jarrah r.a.</br>
Kisah Sahabat Nabi Saw Ke-11 Suhaib Ar-Rumi r.a.</br>
Kisah Sahabat Nabi Saw Ke-12 Salim maula Abi Khudzaifah r.a.</br>
Kisah Sahabat Nabi Saw Ke-13 Mus'ab bin Umair r.a.</br>
Kisah Sahabat Nabi Saw Ke-14 Zaid bin Tsabit r.a.</br>
Kisah Sahabat Nabi Saw Ke-15 Anas bin Malik&nbsp;r.a.</br>
Kisah Sahabat Nabi Saw Ke-16 Khabab bin Al Arat r.a.</br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Mahkota Pengantin:</b></font>
<p style="font-family:constantia;">
Mahkota Pengantin (Kajian Ke-1)</br>
Mahkota Pengantin (Kajian Ke-2)</br>
Mahkota Pengantin (Kajian Ke-3)</br>
Mahkota Pengantin (Kajian Ke-4)</br>
Mahkota Pengantin (Kajian Ke-5)</br>
Mahkota Pengantin (Kajian Ke-6)</br>
Mahkota Pengantin (Kajian Ke-7)</br>
Mahkota Pengantin (Kajian Ke-8)</br>
Mahkota Pengantin (Kajian Ke-9)</br>
Mahkota Pengantin (Kajian Ke-10)</br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Rasulullah Saw Bercerita tentang Neraka:</b></font></br>
<p style="font-family:constantia;">
Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-1)</br>
Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-2)</br>
Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-3)</br>
Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-4)</br>
Rasulullah Saw Bercerita Tentang Neraka (Kajian Ke-6)</br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Rasulullah Saw Bercerita tentang Surga:</b></font>
<p style="font-family:constantia;">
Rasulullah Saw Bercerita Tentang Surga (Kajian Ke-1)</br>
Rasulullah Saw Bercerita Tentang Surga (Kajian Ke-2)</br>
Rasulullah Saw Bercerita Tentang Surga (Kajian Ke-3)</br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Khutbah Jum'at:</b></font>
<p style="font-family:constantia;">
Khutbah Jum'at - Hidup Mulia dengan Islam</br>
Khutbah Jum'at - Idolaku adalah Muhammad Saw, Siapa Idola Anda</br>
Khutbah Jum'at - Janganlah Berdusta, Janganlah Berbohong!</br>
Khutbah Jum'at - Keutamaan Hari Jum'at dan Shalat Jum'at</br>
Khutbah Jum'at - Kunci Sukses Dunia &amp; Akhirat</br>
Khutbah Jum'at - Memahami Rizki</br>
Khutbah Jum'at - Mutiara-mutiara setelah Ramadhan</br>
Khutbah Jum'at - Persaudaraan Islam</br>
Khutbah Jum'at - Sejenak Bersama Al-Qur'an</br>
Khutbah Jum'at - Wahai Muslim, Inilah Pondasi Agamamu!</br>
</p>

<font color="#CD853F" style="font-family:constantia;"><b>Dosa Besar:</b></font>
<p style="font-family:constantia;">
Dosa Besar Ke-1 Syirik (Menyekutukan Allah)</br>
Dosa Besar Ke-2 Membunuh Tanpa Alasan yang Dibenarkan</br>
Dosa Besar Ke-3 Berbuat Sihir</br>
Dosa Besar Ke-4 Meninggalkan Shalat</br>
Dosa Besar Ke-5 Tidak Membayar Zakat</br>
Dosa Besar Ke-6 Durhaka Kepada Kedua Orang Tua</br>
<a href="http://www.4shared.com/zip/wGFcJXNEce/Dosa_Besar_Ke-7_Memakan_Riba__.html">Dosa Besar Ke-7 Memakan Riba</a></br>
Dosa Besar Ke-8 Memakan Harta Anak Yatim secara Dzalim</br>
Dosa Besar Ke-9 Berdusta Atas Nama Rasulullah Saw</br>
Dosa Besar Ke-10 Tidak Berpuasa Ramadhan Tanpa Udzur</br>
Dosa Besar Ke-11 Melarikan Diri dari Pertempuran</br>
Dosa Besar Ke-13 Pemimpin yg Berkhianat, Kejam, dan Bengis kpd Rakyatnya</br>
Dosa Besar Ke-14 Meminum Khamer atau yg Memabukkan Meskipun Sedikit</br>
Dosa Besar Ke-15 Sombong, Bangga Diri, Angkuh, Ujub, dan Congkak</br>
Dosa Besar Ke-17 Homoseksual</br>
Dosa Besar Ke-18 Menuduh Wanita Baik-Baik Melakukan Zina</br>
Dosa Besar Ke-19 Berkhianat Mengambil Harta Ghanimah, Baitul Mal, dan Zakat</br>
Dosa Besar Ke-20 Berbuat Zalim Dengan Mengambil Harta Orang Lain Secara Zalim</br>
Dosa Besar Ke-21 Mencuri</br>
Dosa Besar Ke-23 Sumpah Dusta</br>
Dosa Besar Ke-24 Gemar Berkata Bohong
Dosa Besar Ke-25 Bunuh Diri</br>
Dosa Besar Ke-26 Hakim yang Jahat</br>
Dosa Besar Ke-27 Membiarkan Perbuatan Keji pada Istrinya</br>
Dosa Besar Ke-28 Dosa Besar Perempuan Menyerupai Laki-Laki</br>
Dosa Besar Ke-29 Al Muhalil Al Muhalallahu</br>
Dosa Besar Ke-30 Makan Bangkai, Darah, &amp; Daging Babi</br>
Dosa Besar Ke-41 Membenarkan Dukun dan Ahli Nujum</br>
Dosa Besar Ke-42 Istri Membangkang Suami</br>
Dosa Besar Ke-43 Memutuskan Hubungan Silaturahim</br>
Dosa Besar Ke-46 Meratapi Mayit Ketika Tertimpa Musibah Kematian Keluarganya</br>
Dosa Besar Ke-48 Melampuai Batas dan Berbuat Kerusakan</br>
Dosa Besar Ke-49 Memberontak dan Mengkafirkan karena Dosa Besar</br>
Dosa Besar Ke-50 Menyakiti Kaum Muslimin</br>
Dosa Besar Ke-51 Menyakiti Para Kekasih Allah dan Memusuhi Mereka</br>
Dosa Besar Ke-52 Menjulurkan Pakaian Sampai ke Mata Kaki, Isbal</br>
Dosa Besar Ke-54 Budak yang Melarikan Diri Dari Tuannya</br>
Dosa Besar Ke-57 Mencela Para Sahabat Nabi</br>
Dosa Besar Ke-59 Mengajak Kepada Kesesatan</br>
Dosa Besar Ke-63 Tiyarah</br>
Dosa Besar Ke-66 Mengebiri Hamba Sahaya atau Menyiksanya</br>
Dosa Besar Ke-67 Mengurangi Timbangan Dan Takaran dalam Jual Beli</br>
Dosa Besar Ke-68 Merasa Aman dari Ancaman Hukuman Allah SWT</br>
Dosa Besar Ke-69 Putus Asa Dari Rahmat Allah SWT</br>
Dosa Besar Ke-70 Mengingkari Perbuatan Orang Lain Kepadanya</br>
Dosa Besar Ke-71 Menahan Kelebihan Air</br>
Dosa Besar Ke-72 Mengecap Hewan Ternak Dengan Besi Panas</br>
Dosa Besar Ke-73 Berjudi atau Mengundi Nasib</br>
Dosa Besar Ke-76 Memata-matai Kaum Muslimin dan Menyebarkan Aib Mereka</br>
Dosa Besar Ke-77 Tidak Mengikuti dan Mencontohi Nabi Muhammad Saw.</br>
Dosa Besar Ke-78 Tidak Mengingkari Kemungkaran</br>
Dosa Besar Ke-79 Tidak Taat Kepada Pemimpin</br>
Dosa Besar Ke-80 Dosa-Dosa yang Diancam Diazab di Dalam Kubur</br>
Dosa Besar Ke-81 Tolong Menolong Dalam Kemaksiatan</br>
Dosa Besar Ke-82 Memisahkan dengan Teman yang Lain</br>
Dosa Besar Ke-83 Berkata Kotor dan Kasar serta Bersikap Keras Bukan pada Tempatnya</br>
Dosa Besar Ke-84 Berbuat Buruk Kepada Orang Lain</br>
Dosa Besar Ke-85 Tidak Menjaga Lisan</br>
Dosa Besar Ke-86 Menjadikan Orang Munafik Sebagai Pemimpin atau Teman</br>
Dosa Besar Ke-88 Tidak Pergi Haji, Padahal Mampu (Fisik Maupun Finansial)</br>
Dosa Besar Ke-89 Memisahkan Antara Orang Tua dengan Anaknya</br>
Dosa Besar Ke-95 Menggauli Istri Masuk ke Dubur atau Menggauli Istri ke Kemaluan pada Saat Haid</br>
Dosa Besar Ke-96 Mengintip</br>
Dosa Besar Ke-97 Berlebih-lebihan Dalam beragama (Ghuluw)</br>
Dosa Besar Ke-98 Menolak Menerima Sumpah Atas Nama Allah</br>
Dosa Besar Ke-99 Pelit, Kikir, Bakhil</br>
Dosa Besar Ke-100 Duduk Menyendiri di Tengah-Tengah Halaqah</br>
Dosa Besar Ke-101 Iri dan Dengki</br>
Dosa Besar Ke-102 Memutus Sutrah Orang yang Sedang Shalat</br>
Dosa Besar Ke-106 Tidak Menjawab Salam</br>
</p>
</div>